<div class="modal-header bg-info-subtle d-flex align-items-baseline">
    <h6 class="card-title mb-2">Create Warranty</h6>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="close('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 600px; overflow-y: auto">
    <form [formGroup]="addMaintenanceAgreementForm">
      <div class="mt-2">
        <div class="row">
          <div class="col-lg-12 mb-3">
            <div class="form-group">
              <label class="form-label" for="formFile"
                >Title
                <span class="starRequried">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                placeholder="Title"
                id="MaintenanceAgreementTitle"
                formControlName="MaintenanceAgreementTitle"
              />
              <div
                *ngIf="
                  MaintenanceAgreementTitle.invalid &&
                  MaintenanceAgreementTitle.touched
                "
              >
                <small
                  class="text-danger"
                  *ngIf="MaintenanceAgreementTitle.errors?.['required']"
                >
                  Title is Required
                </small>
              </div>
            </div>
          </div>
         
          <div class="col-lg-6 mb-3">
            <div class="form-group">
              <label for="StartDate" class="form-label"
                >Start Date
                <span class="starRequried">*</span>
                <i
                  class="ri-close-circle-line text-danger"
                  ngbTooltip="Clear"
                  *ngIf="StartDate?.value"
                  (click)="clearChangeStartDate()"
                ></i>
              </label>
              <div class="d-flex">
                <input
                  type="date"
                  class="form-control"
                  id="StartDate"
                  formControlName="StartDate"
                  placeholder="Enter Start Date"
                  mwlFlatpickr
                  [altInput]="false"
                  [enableTime]="false"
                  [convertModelValue]="true"
                  [dateFormat]="'d-m-Y'"
                />
              </div>
  
              <div *ngIf="StartDate.invalid && StartDate.touched">
                <small class="text-danger" *ngIf="StartDate.errors?.['required']">
                  Start Date is Required
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="form-group">
              <label for="EndDate" class="form-label"
                >End Date
                <span class="starRequried">*</span>
                <i
                  class="ri-close-circle-line text-danger"
                  ngbTooltip="Clear"
                  *ngIf="EndDate.value"
                  (click)="clearChangeEndDate()"
                ></i>
              </label>
              <div class="d-flex">
                <input
                  type="text"
                  class="form-control"
                  readonly
                  [disabled]="true"
                  *ngIf="!StartDate.value"
                  formControlName="EndDate"
                  placeholder="Enter End Date"
                />
                <input
                  *ngIf="StartDate.value"
                  type="date"
                  class="form-control"
                  id="EndDate"
                  formControlName="EndDate"
                  placeholder="Enter End Date"
                  [minDate]="StartDate.value"
                  mwlFlatpickr
                  [altInput]="false"
                  [enableTime]="false"
                  [convertModelValue]="true"
                  [dateFormat]="'d-m-Y'"
                />
              </div>
  
              <div *ngIf="EndDate.invalid && EndDate.touched">
                <small class="text-danger" *ngIf="EndDate.errors?.['required']">
                  End Date is Required
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div>
              <label  class="form-label">File 1
                <i
                class="ri-close-circle-line text-danger"
                ngbTooltip="Clear"
                *ngIf="selectedFiles[0]"
                (click)="clearFile(0)"
              ></i>
              </label>
              <input
                class="form-control"
                accept=".xlsx, .accdb, .txt , .docx ,.doc ,.pdf,.rar,.zip,.dwg"
                type="file"
                id="formFile1"
                (change)="onFileChange($event, 0)"
              />
              <div *ngIf="fileErrors[0]" class="text-danger">
                {{ fileErrors[0] }}
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div>
              <label  class="form-label">File 2
                <i
                class="ri-close-circle-line text-danger"
                ngbTooltip="Clear"
                *ngIf="selectedFiles[1]"
                (click)="clearFile(1)"
              ></i>
              </label>
              <input
                class="form-control"
                accept=".xlsx, .accdb, .txt , .docx ,.doc ,.pdf,.rar,.zip,.dwg"
                type="file"
                id="formFile2"
                (change)="onFileChange($event, 1)"
              />
              <div *ngIf="fileErrors[1]" class="text-danger">
                {{ fileErrors[1] }}
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div>
              <label class="form-label">File 3
                <i
                class="ri-close-circle-line text-danger"
                ngbTooltip="Clear"
                *ngIf="selectedFiles[3]"
                (click)="clearFile(3)"
              ></i>
              </label>
              <input
                class="form-control"
                accept=".xlsx, .accdb, .txt , .docx ,.doc ,.pdf,.rar,.zip,.dwg"
                type="file"
                id="formFile3"
                (change)="onFileChange($event, 2)"
              />
              <div *ngIf="fileErrors[2]" class="text-danger">
                {{ fileErrors[2] }}
              </div>
            </div>
          </div>
  
          <div class="col-md-12">
            <label class="form-label" for="formFile"
              >Description
              <span class="starRequried">*</span>
            </label>
            <ckeditor
              [editor]="Editor"
              [config]="{
                toolbar: [
                  'heading',
                  '|',
                  'bold',
                  'italic',
                  '|',
                  'NumberedList',
                  'BulletedList'
                ]
              }"
              formControlName="Description"
            >
            </ckeditor>
  
            <div *ngIf="Description.invalid && Description.touched">
              <small class="text-danger" *ngIf="Description.errors?.['required']">
                Description is Required
              </small>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div>
      <button
        class="btn btn-primary me-2 mb-2 mb-md-0"
        (click)="CheckTheFileUploadOrNot()"
        [disabled]="addMaintenanceAgreementForm.invalid"
      >
        Submit
      </button>
      <button
        class="btn btn btn-outline-danger me-2 mb-2 mb-md-0"
        (click)="close('Cross click')"
      >
        Close
      </button>
    </div>
  </div>
  