.fw-sm {
    font-size: 12px;
    font-weight: 800;
}

.transpart {
    background-color: transparent;
}

.close {
    padding: 8px;
    margin: 2px;
}

.w-75 {
    width: 400px !important;
}

.col-w-30 {
    width: 32%;
}

.img-fluid-with-HW {
    height: 45px;
    width: 45px;
}