<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" >
             <a href="https://ssgroupz.com/vwatchpro/" target="_blank">  © Copyright  {{year}} SS Group International Sdn Bhd. All Rights Reserved
           </a> </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Version {{version}}
                </div>
            </div>
        </div>
    </div>
</footer>