
.wordBrrak {
    word-break: break-word;
}


.editot{
    img{
        height: 400px!important;
        width: 400px!important;
    }
}


.imgeVal{
    height: 400px!important;
        width: 400px!important;
}

.paddinBorh{
    //padding-left: 26px;
    //padding-right: 26px;
    padding-left: 8px;
    padding-right: 8px;
}

.imgHeight{
    height: 200px;
}


.img-size-withd-upload {
  
  border-radius: 12px;
  width: 300px;
  height: 120px;
  
}.img-size-withd-video {
  
  border-radius: 12px;
  width: 300px;
  height: 149px !important;
  margin-top: 8px;
  padding-left: 2px;
}
  
  .newcard{
    box-shadow: 1px 1px 2px 2px rgba(56, 65, 74, 0.15)!important;
  }



  .video-details {
    margin-top: 8px;
    font-size: 14px;
  }
  .video-details p {
    margin: 0;
  }




  .border-bottom-width{
    border-bottom-width:0px;
    padding-bottom: 0px!important;
  }

  .img-size-withd-video_disc{
    border-radius: 5px;
    height: 130px !important;
    width: 233px;
}

.img-hgt{
  height: 130px !important;
  width: 233px;
}