.ngx-datatable:not(.cell-selection) ::ng-deep .datatable-header-cell {
    border-top: 0;
    border-bottom-width: 1px;
    font-size: 12px;
    text-transform: uppercase;
    color: #686868;

    i {
        margin-left: 0.325rem;
    }

}

.ng-select.custom {
    border: 0px;
    min-height: 0px;
    max-height: 30px;
    border-radius: 0;
}

.ng-select.custom .ng-select-container {
    min-height: 0px;
    max-height: 30px;
    border-radius: 0;
}

.ng-select.custom ::ng-deep .ng-select-container {
    min-height: 0px;
    max-height: 30px;
    border-radius: 0;
}


.image-section {

    img {
        height: 100%;
        width: 100%;
        border-radius: 0%;
    }

    .hoverable {
        position: relative;
        display: block;
        cursor: pointer;
        height: 200px;
        width: 180px;
        border: 1px dashed lightgrey;
        padding: 10px;
        border-radius: 0%;
    }

    .hoverable .hover-text {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .hoverable .background {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        pointer-events: none;
        border-radius: 0%;
        z-index: 1;
    }

    .hoverable:hover .hover-text {
        display: block;
    }

    .hoverable:hover .background {
        display: block;
    }

    input {
        display: none;
    }
}


.spare-text-image {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.table td img {
    width: 70px;
    height: 70px;
    border-radius: 0%;
}

.fa-times-circle {
    color: #727cf5;
    font-size: 20px;
}

.icon-cross {
    position: relative;
    top: 9px;
    z-index: 1000;
    left: 85px;
}