<app-breadcrumbs
  [title]="label"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="">
  <div class="mt-2 card">
    <div class="card-header">
      <h4 class="card-title mb-0">Basic Detail &nbsp;</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-sm-10">
            <div class="row p-0">
              <div class="col-md-4">
                <label for="Project-Name" class="form-label"
                  >Full Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control my-1"
                  [placeholder]="'Full Name'"
                  formControlName="FullName"
                  id="fullName"
                  name="fullName"
                  [ngClass]="{
                    'is-invalid':
                      form['FullName'].invalid && form['FullName'].touched
                  }"
                />

                <div
                  *ngIf="form['FullName'].invalid && form['FullName'].touched"
                >
                  <small
                    class="text-danger"
                    *ngIf="form['FullName'].errors['required']"
                  >
                    Full Name is Required</small
                  >
                </div>
              </div>

              <div class="col-md-4">
                <label for="HOD" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  type="email"
                  class="form-control my-1"
                  placeholder="Email"
                  formControlName="Email"
                  id="email"
                  name="email"
                  [ngClass]="{
                    'is-invalid': form['Email'].invalid && form['Email'].touched
                  }"
                />

                <div *ngIf="form['Email'].invalid && form['Email'].touched">
                  <small
                    class="text-danger"
                    *ngIf="form['Email'].errors['required']"
                  >
                    Email is Required</small
                  >
                </div>
              </div>
              <div class="col-md-4">
                <label for="phoneNumber" class="form-label"
                  >Phone Number <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  class="form-control my-1"
                  placeholder="Phone Number"
                  formControlName="PhoneNumber"
                  id="phoneNumber"
                  name="PhoneNumber"
                  [ngClass]="{
                    'is-invalid':
                      form['PhoneNumber'].invalid && form['PhoneNumber'].touched
                  }"
                />

                <div
                  *ngIf="
                    form['PhoneNumber'].invalid && form['PhoneNumber'].touched
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="form['PhoneNumber'].errors['required']"
                  >
                    Phone Number is Required</small
                  >
                </div>
              </div>

              <div class="col-md-4 mt-3">
                <label for="roleId" class="form-label"
                  >Role <span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="rolesList"
                  bindLabel="name"
                  bindValue="id"
                  [loading]="loading.role"
                  [clearable]="false"
                  (change)="onTypeRole($event)"
                  [clearable]="false"
                  id="roleId"
                  formControlName="roleId"
                  placeholder="Select Role"
                  class="w-100 mr-2 my-1"
                ></ng-select>

                <div *ngIf="form['roleId'].invalid && form['roleId'].touched">
                  <small class="text-danger"> Role is Required </small>
                </div>
              </div>

              <div class="col-md-4 mt-3">
                <label for="AccessGroupId" class="form-label"
                  >Access Group <span class="text-danger">*</span></label
                >
                <ng-select
                  [items]="accessGroupList"
                  bindLabel="name"
                  bindValue="accessGroupMasterId"
                  [loading]="loading.accessGroup"
                  [clearable]="false"
                  (change)="onTypeAccessGroup($event)"
                  [readonly]="!form['roleId'].value"
                  [clearable]="false"
                  id="AccessGroupId"
                  formControlName="AccessGroupId"
                  placeholder="Select Access Group"
                  class="w-100 mr-2 my-1"
                ></ng-select>

                <div
                  *ngIf="
                    form['AccessGroupId'].invalid &&
                    form['AccessGroupId'].touched
                  "
                >
                  <small class="text-danger"> Access Group is Required </small>
                </div>
              </div>

              <div class="col-md-4 mt-3">
                <label for="Client" class="form-label">Device Access</label>
                <div class="row mt-3">
                  <div class="col-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="Portal"
                        formControlName="PortalEnable"
                        id="Portal"
                      />
                      <label class="form-check-label" for="Portal">
                        Portal
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="Mobile"
                        formControlName="MobileEnable"
                        id="Mobile"
                      />
                      <label class="form-check-label" for="Mobile">
                        Mobile
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 textcenter">
            <label class="form-label">Profile Image</label>
              <div class="textcenter">
              <div class="position-relative d-inline-block">
                <div
                  class="position-absolute top-100 start-100 translate-middle"
                >
                  <label
                    class="mb-0"
                    placement="left"
                    ngbTooltip="Remove Image"
                    *ngIf="isFirstImageVisible"
                  >
                    <div class="avatar-xs">
                      <div
                        class="avatar-title bg-light border rounded-circle text-muted cursor-pointer"
                      >
                        <i
                          class="ri-close-circle-fill"
                          (click)="crossFirstImage(profile_img)"
                        ></i>
                      </div>
                    </div>
                  </label>
                  <label
                    for="asset_id0"
                    class="mb-0"
                    placement="left"
                    ngbTooltip="Select Image"
                    *ngIf="!isFirstImageVisible"
                  >
                    <div class="avatar-xs">
                      <div
                        class="avatar-title bg-light border rounded-circle text-muted cursor-pointer"
                      >
                        <i class="ri-image-fill"></i>
                      </div>
                    </div>
                  </label>
                  <input
                    (change)="onSelectFile($event)"
                    formControlName="UserImageBase64string"
                    class="form-control d-none"
                    value=""
                    id="asset_id0"
                    type="file"
                    accept="image/png, image/gif, image/jpeg"
                  />
                </div>
                <div class="avatar-lg">
                  <div class="avatar-title bg-light rounded">
                    <img
                      src="{{ profile_img }}"
                      id="product-img"
                      class="avatar-md img-size-fixed"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title mb-0">Data Access Level &nbsp;</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <label for="Client" class="form-label"
            >Company <span class="text-danger">*</span></label
          >
          <ng-select
            [items]="companyList"
            bindLabel="companyName"
            bindValue="companyId"
            [loading]="loading.accessGroup"
            [clearable]="false"
            [multiple]="true"
            (change)="onTypeCompany($event)"
            [(ngModel)]="companyModel"
            [clearable]="false"
            id="companyName"
            placeholder="Select Companies"
            class="w-100 mr-2 my-1"
          ></ng-select>
        </div>
        <div class="col-12"></div>
        <div
          *ngFor="let company of selectedCompanyAccessLevelArray; index as i"
          class="col-12 mt-3 pt-3 border-top"
        >
          <h5>
            {{ company.company.companyName }}
            <span class="text-small">(Access Level)</span>
          </h5>

          <div class="row mt-3">
            <div class="col-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  [id]="'selectAll' + company.company.companyName"
                  (change)="checkSelectedAll($event, i)"
                  [checked]="returnaSelectAll(i)"
                />
                <label
                  class="form-check-label"
                  [for]="'selectAll' + company.company.companyName"
                >
                  Select All
                </label>
              </div>
            </div>
            <div class="mt-2"></div>
            <div class="col-sm-4 mt-2" *ngFor="let project of company.projectList">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="checkDeparmentAccess($event, project.departmentId,i)"
                  [checked]="returnValue(project.departmentId, i)"
                  [id]="project.departmentName + company.companyName"
                />
                <label
                  class="form-check-label"
                  [for]="project.departmentName + company.companyName"
                >
                  {{ project.departmentName }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <button
        class="btn btn-soft-primary waves-effect back-button me-2"
        (click)="goBack()"
      >
        Back
      </button>

      <button
        class="btn btn-success"
        (click)="submit()"
        [disabled]="userForm.invalid || checkThatObjectSelectedAccess()"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<ng-template #noDepartmentModalPopUp let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="text-center">
      
        <img src="../../../../assets/images/ticketChatpartImage.png" class="img-fluid rounded chat-image-success">
      
      </div>

      <div class="mt-2 fs-15 text-center">
        <h4>Information!</h4>
        <p class="text-muted mx-4 mb-0">
          To create a project for a specific company or organization, you may
          need to request the administrator to create the project.
        </p>
      </div>
      <p class="mx-3 mb-0">You can follow these steps:</p>
      <ol class="pt-0 fs-15">
        <li>Access the application settings.</li>
        <li>Navigate to "My Project" within the application.</li>
        <li>Look for an option button "Add Project".</li>
      </ol>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          type="button"
          class="swal2-cancel btn btn-primary w-xs mb-1"
          aria-label=""
          style="display: inline-block"
          (click)="modal.close('Close click')"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>
