<ng-container *ngIf="!singlerow">
  <div class="d-flex mb-4 mt-2" style="overflow-x: hidden">
    <div class="flex-shrink-0">
      <img
        src="{{ imageUrl }}{{ chat.profileImageUrl }}"
        alt=""
        class="avatar-xs rounded-circle"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h5 class="fs-14">
        {{ chat.msgByName }}<br />
    
        <small class="text-muted fs-13 mt-1">{{ chat.createDateTime }}</small>
      </h5>
      <div class="text-muted" [innerHTML]="chat.messageContain"></div>

      <div
        class="row g-2 mb-3"
        *ngIf="['File', 'Document', 'Zip', 'Dwg', 'Rar'].includes(chat.fileType)"
      >
        <div class="col-lg-1 col-sm-2 col-6">
          <div class="avatar-sm">
            <div class="avatar-title bg-light text-secondary rounded fs-24">
              <a
              (click)="downloadFileDocument(chat.attachmentURL)"
              href="javascript:void(0);"
                [title]="'View ' + chat.fileType"
                class="text-body text-truncate d-block"
                [ngbTooltip]="chat.attachmentURL"
              >
            
            
              
                <i
                  class="ri-file-line a1"
                  
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2 mb-3" *ngIf="chat.fileType == 'Video'">
        <div class="col-lg-1 col-sm-2 col-6">
          <!-- <video
            *ngIf="chat.fileType == 'Video'"
            controls
            class="img-fluid h-100 object-fit-cover img-size-withd-video_disc"
            preload="none"
            (click)="openModaVideeo(chat, VideoPlayer)"
          >
            <source [src]="imageUrl + chat.attachmentURL" type="video/mp4" />
          </video> -->
          <div class="avatar-sm">
            <div class="avatar-title bg-light text-secondary rounded fs-24">
              <a
                href="javascript:void(0);"
                (click)="openModaVideeo(chat, VideoPlayer)"
                [title]="'View ' + chat.fileType"
                class="text-body text-truncate d-block"
                [ngbTooltip]="chat.attachmentURL"
              >
                <i class="ri-video-line" *ngIf="chat.fileType == 'Video'"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-2 mb-3" *ngIf="chat.fileType == 'Image'">
        <div class="col-lg-1 col-sm-2 col-6">
          <img
            (click)="open(imageUrl + chat.attachmentURL)"
            src="{{ imageUrl }}{{ chat.attachmentURL }}"
            alt=""
            class="img-fluid rounded"
            style="height: 60px; width: 60px"
          />
        </div>
      </div>
    </div>
    
    <div class="flex-grow-2 ms-3" *ngIf="viewDeleteButton">
      <i
        class="ri-delete-bin-5-line text-danger mt-2 me-3 fs-20 cursor" (click)="openModalDelete(chat)"
        *ngIf="currentUserId == chat.msgById"
      ></i>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="singlerow">
  <div
    class="row g-2 mb-3"
    *ngIf="chat.fileType == 'File' || chat.fileType == 'Document'"
  >
    <div class="col-lg d-flex align-items-center">
      <a
        [href]="imageUrl + chat.attachmentURL"
        [title]="'View ' + chat.fileType"
        class="text-body text-truncate d-block"
        [ngbTooltip]="chat.attachmentURL"
        target="_blank"
      >
        <i
          class="ri-file-line fs-20 align-bottom me-2"
          *ngIf="chat.fileType == 'File' || chat.fileType == 'Document'"
        ></i
      ></a>
      {{ chat.fileType }}
    </div>
  </div>
  <div class="row g-2 mb-3" *ngIf="chat.fileType == 'Video'">
    <div class="col-lg d-flex align-items-center">
      <a
        href="javascript:void(0);"
        (click)="openModaVideeo(chat, VideoPlayer)"
        [title]="'View ' + chat.fileType"
        class="text-body text-truncate d-block fs-20"
        [ngbTooltip]="chat.attachmentURL"
      >
        <i
          class="ri-video-line align-bottom me-2"
          *ngIf="chat.fileType == 'Video'"
        ></i
      ></a>
      {{ chat.fileType }}
    </div>
  </div>

  <div class="row g-2 mb-3" *ngIf="chat.fileType == 'Image'">
    <div class="col-lg d-flex align-items-center">
      <a
        href="javascript:void(0);"
        (click)="open(imageUrl + chat.attachmentURL)"
        [title]="'View ' + chat.fileType"
        class="text-body text-truncate d-block fs-20 a2"
        [ngbTooltip]="imageUrl + chat.attachmentURL"
      >
        <i
          class="ri-image-line b2 align-bottom me-2"
          *ngIf="chat.fileType == 'Image'"
        ></i
      ></a>
      {{ chat.fileType }}
    </div>
  </div>
</ng-container>

<ng-template #VideoPlayer role="document" let-modal>
  <div class="modal-header p-3 bg-primary-subtle">
    <h5 class="modal-title" id="inviteMembersModalLabel">Video</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body p-4">
    <div id="instructions">
      <video
        id="my_video_1"
        class="video-js vjs-default-skin"
        width="100%"
        height="267px"
        controls
        preload="none"
        autoplay
        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
      >
        <source src="{{ linkVideo }}" type="video/mp4" />
      </video>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      data-bs-dismiss="modal"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #ImageSize role="document" let-modal>
  <div class="modal-header p-3 bg-primary-subtle">
    <h5 class="modal-title" id="inviteMembersModalLabel">Image</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body p-4">
    <img src="{{ linkImage }}" width="100%" height="267px" />
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      data-bs-dismiss="modal"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
