<app-breadcrumbs
  [title]="label"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">
      {{ editMode.isEdit ? "Edit" : "Add" }} Client/Prospect&nbsp;
    </h5>
  </div>
  <div class="text-center p-2">
    <div class="profile-user position-relative d-inline-block mx-auto mb-4">
      <img
        src="{{ clientLogoImg }}"
        class="rounded-circle avatar-xl img-thumbnail user-profile-image"
        alt="user-profile-image"
      />
      <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
        <input
          id="profile-img-file-input"
          type="file"
          class="profile-img-file-input"
          (change)="onSelectFile($event)"
          accept="image/*"
        />

        <label
          for="profile-img-file-input"
          class="profile-photo-edit avatar-xs"
          *ngIf="
            clientLogoImg ===
            '../../../../../assets/images/placeholderimage.png'
          "
        >
          <span class="avatar-title rounded-circle bg-light text-body">
            <i class="ri-camera-fill"></i>
          </span>
        </label>

        <label
          *ngIf="
            clientLogoImg !==
            '../../../../../assets/images/placeholderimage.png'
          "
          for="profile-img-file-input-clear"
          class="profile-photo-edit avatar-xs"
          (click)="openModalDeleteConf($event)"
        >
          <span class="avatar-title rounded-circle bg-light text-body">
            <i class="ri-close-circle-fill"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <form [formGroup]="addClient">
      <div class="row">
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="name" class="form-label"
              >Company<span class="starRequried">*</span></label
            >

            <ng-select
              class="custom"
              [items]="CompanyListV2"
              bindLabel="companyName"
              bindValue="companyId"
              [clearable]="false"
              id="companyName"
              formControlName="companyName"
              placeholder="Company"
              [readonly]="editMode.isEdit"
              [class.is-invalid]="companyName?.invalid && companyName?.touched"
              [class.is-valid]="companyName?.valid && companyName?.touched"
            ></ng-select>

            <div *ngIf="companyName?.invalid && companyName?.touched">
              <small
                class="text-danger"
                *ngIf="companyName?.errors?.['required']"
                >Company is Required
              </small>
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="company-field" class="form-label"
              >Name<span class="starRequried">*</span></label
            >
            <input
              type="text"
              id="company-field"
              class="form-control"
              formControlName="name"
              placeholder="Enter Name"
              [class.is-invalid]="name?.invalid && name?.touched"
              [class.is-valid]="name?.valid && name?.touched"
            />

            <div *ngIf="name?.invalid && name?.touched">
              <small class="text-danger" *ngIf="name?.errors?.['required']">
                Name is Required
              </small>
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="code" class="form-label"
              >Code <span class="starRequried">*</span></label
            >
            <input
            (input)="onUpperCase($event)"
              type="text"
              class="form-control"
              id="code"
              formControlName="code"
              placeholder="Code"
              [readonly]="editMode.isEdit"
              [class.is-invalid]="code?.invalid && code?.touched"
              [class.is-valid]="code?.valid && code?.touched"
            />

            <div *ngIf="code?.invalid && code?.touched">
              <small class="text-danger" *ngIf="name?.errors?.['required']"
                >Code is required</small
              >
              <small class="text-danger" *ngIf="code?.errors?.['minlength']">
                Code must be at least 2 characters Required</small
              >
              <small class="text-danger" *ngIf="code?.errors?.['maxlength']">
                Code must be less than 5 characters Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="contactPerson" class="form-label"
              >Contact Person Name <span class="starRequried">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="contactPerson"
              formControlName="contactPerson"
              placeholder="Contact Person Name "
              [class.is-invalid]="
                contactPerson?.invalid && contactPerson?.touched
              "
              [class.is-valid]="contactPerson?.valid && contactPerson?.touched"
            />

            <div *ngIf="contactPerson?.invalid && contactPerson?.touched">
              <small
                class="text-danger"
                *ngIf="contactPerson?.errors?.['required']"
              >
                Contact Person Name is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="mobileNo" class="form-label"
              >Contact Person Mobile No<span class="starRequried">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="mobileNo"
              formControlName="mobileNo"
              placeholder="Contact Person Mobile No"
              [class.is-invalid]="mobileNo?.invalid && mobileNo?.touched"
              [class.is-valid]="mobileNo?.valid && mobileNo?.touched"
            />

            <div *ngIf="mobileNo?.invalid && mobileNo?.touched">
              <small class="text-danger" *ngIf="mobileNo?.errors?.['required']">
                Contact Person Mobile No is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="address1" class="form-label"
              >Address<span class="starRequried">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="address1"
              formControlName="address1"
              placeholder="Address"
              [class.is-invalid]="address1?.invalid && address1?.touched"
              [class.is-valid]="address1?.valid && address1?.touched"
            />

            <div *ngIf="address1?.invalid && address1?.touched">
              <small class="text-danger" *ngIf="address1?.errors?.['required']">
                Address is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="address2" class="form-label"
              >City<span class="starRequried">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="address2"
              formControlName="address2"
              placeholder="City"
              [class.is-invalid]="address2?.invalid && address2?.touched"
              [class.is-valid]="address2?.valid && address2?.touched"
            />

            <div *ngIf="address2?.invalid && address2?.touched">
              <small class="text-danger" *ngIf="address2?.errors?.['required']">
                City is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="address3" class="form-label"
              >State<span class="starRequried">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="address3"
              formControlName="address3"
              placeholder="State"
              [class.is-invalid]="address3?.invalid && address3?.touched"
              [class.is-valid]="address3?.valid && address3?.touched"
            />

            <div *ngIf="address3?.invalid && address3?.touched">
              <small class="text-danger" *ngIf="address3?.errors?.['required']">
                State is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="postalCode" class="form-label"
              >Postal Code<span class="starRequried">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="postalCode"
              formControlName="postalCode"
              placeholder="Postal Code"
              [class.is-invalid]="postalCode?.invalid && postalCode?.touched"
              [class.is-valid]="postalCode?.valid && postalCode?.touched"
            />

            <div *ngIf="postalCode?.invalid && postalCode?.touched">
              <small
                class="text-danger"
                *ngIf="postalCode?.errors?.['required']"
              >
                Postal Code is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="country" class="form-label"
              >Country<span class="starRequried">*</span></label
            >
            <ng-select
              [items]="countryList"
              bindLabel="countryName"
              bindValue="countryName"
              [clearable]="false"
              placeholder="Select Country"
              formControlName="country"
              [class.is-invalid]="country.invalid && country.touched"
              class="custom"
              [class.is-valid]="country.valid && country.touched"
            >
            </ng-select>
            <div *ngIf="country?.invalid && country?.touched">
              <small class="text-danger" *ngIf="country?.errors?.['required']">
                Country is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="officePhoneNo" class="form-label"
              >Office Phone No
            </label>
            <input
              type="text"
              class="form-control"
              id="officePhoneNo"
              formControlName="officePhoneNo"
              placeholder="Office Phone No "
            />

            <!-- <div *ngIf="officePhoneNo?.invalid && officePhoneNo?.touched">
              <small
                class="text-danger"
                *ngIf="officePhoneNo?.errors?.['required']"
                >Office Phone No is Required</small
              >
            </div> -->
          </div>
        </div>
        <!--end col-->
        <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="officeFaxNo" class="form-label">Office Fax No </label>
            <input
              type="officeFaxNo"
              class="form-control"
              id="officeFaxNo"
              formControlName="officeFaxNo"
              placeholder="Office Fax No "
            />
          </div>
        </div>
         <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="serviceTaxType" class="form-label"
              >Tax Category<span class="starRequried">*</span></label
            >
            <ng-select
              [items]="servericTypeArray"
              [clearable]="false"
              placeholder="Select Tax Category"
              formControlName="serviceTaxType"
              [class.is-invalid]="serviceTaxType.invalid && serviceTaxType.touched"
              class="custom"
              [class.is-valid]="serviceTaxType.valid && serviceTaxType.touched"
            >
            </ng-select>
            <div *ngIf="serviceTaxType?.invalid && serviceTaxType?.touched">
              <small class="text-danger" *ngIf="serviceTaxType?.errors?.['required']">
                Tax Category is Required</small
              >
            </div>
          </div>
        </div>

           <div class="col-6 col-sm-4">
          <div class="mb-3">
            <label for="serviceTaxValue" class="form-label"
              >Tax Value<span class="starRequried">*</span>
            </label>
            <input
              type="number"
              class="form-control"
              id="serviceTaxValue"
              formControlName="serviceTaxValue"
              placeholder="Tax Value"
              [class.is-invalid]="serviceTaxValue?.invalid && serviceTaxValue?.touched"
              [class.is-valid]="serviceTaxValue?.valid && serviceTaxValue?.touched"
            />

            <div *ngIf="serviceTaxValue?.invalid && serviceTaxValue?.touched">
              <small class="text-danger" *ngIf="serviceTaxValue?.errors?.['required']">
                Tax Value is Required</small
              >
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-lg-12 mb-2">
          <div class="hstack justify-content-end gap-2 mt-1">
            <button
              (click)="goBack()"
              type="button"
              class="btn btn-soft-primary"
            >
              <i class="align-bottom"></i>Back
            </button>

            <button
              type="submit"
              [disabled]="addClient.invalid"
              class="btn btn-success a3"
              (click)="addClientDetails($event)"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="addClientloding"
              ></span>
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
