
.myTaskBar{
    width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
}
.inncraText{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}