<app-breadcrumbs
  [title]="label"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center gy-3">
          <div class="col-sm-3 col-xxl-3">
           <h5 class="card-title">Location List</h5>
          </div>
          <div
            class="col-sm-9 col-xxl-9 d-flex gap-2 flex-wrap justify-content-end"
          >
            <!-- <div class=""> -->
            <div class="search-box w-50">
              <input
                type="search"
                name="searchTerm"
                class="form-control"
                #inputer
                [(ngModel)]="searchLocation"
                placeholder="Search for location name"
              />
              <i class="ri-search-line search-icon"></i>
            </div>
            <!--  *ngIf="returnValueMenu?.add" -->
            <div *ngIf="returnValueMenu.add">
              <button
                type="button"
                class="btn btn-success add-btn"
                id="create-btn"
                (click)="openLocationFormModal(formModel)"
                #button
              >
                <i class="ri-add-line align-bottom me-1"></i> Add Location
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">
        <div class="row g-3">
          <div class="col-lg">
            <ng-select
              [items]="companyList"
              bindLabel="companyName"
              bindValue="companyId"
              (change)="onCompanyValueChange($event)"
              [clearable]="true"
              id="companyName"
              [(ngModel)]="selectedCompanyId"
              placeholder="Select Company"
              class="w-100 mr-2"
            ></ng-select>
          </div>
          <div class="col-lg">
            <ng-select
              [items]="clientList"
              bindLabel="clientName"
              bindValue="clientId"
              [disabled]="!selectedCompanyId || selectedCompanyId === 0"
              (change)="onClientValueChange($event)"
              [clearable]="true"
              id="clientName"
              [(ngModel)]="selectedClientId"
              placeholder="Select Client"
              class="w-100 mr-2"
            ></ng-select>
          </div>
          <div class="col-lg">
            <ng-select
              [items]="departmentList"
              bindLabel="departmentName"
              bindValue="departmentId"
              [disabled]="!selectedClientId || selectedClientId === 0"
              (change)="onChangeDepartment($event)"
              [clearable]="true"
              id="clientName"
              [(ngModel)]="selectedDepartmentId"
              [placeholder]="isProject ? 'Select Project' : 'Select Department'"
              class="w-100 mr-2"
            ></ng-select>
          </div>

          <div class="col-lg-auto">
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn btn-danger ms-1"
                (click)="clearAllPayload()"
                ngbTooltip="Remove All Search"
              >
                <i class="ri-refresh-fill me-1 align-bottom"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body pt-0">
        <div>
          <ul
            ngbNav
            #nav="ngbNav"
            [activeId]="1"
            class="nav nav-tabs nav-tabs-custom nav-success mb-3"
          >
            <li [ngbNavItem]="1">
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">
                        <th class="ps-4">CODE</th>
                        <th>Location NAME</th>
                        <th>Company</th>
                        <th>Client</th>
                        <th>{{isProject ? 'Project' : 'Department'}}</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let location of locationList">
                        <td
                          class="ps-4 fw-medium link-primary"
                          (click)="openLocationViewModal(viewModal, location)"
                        >
                          {{ location.locationCode }}
                        </td>
                        <td>
                          {{ location.locationName }}
                        </td>
                        <td>
                          {{ location.companyName }}
                        </td>
                        <td>
                          {{ location.clientName }}
                        </td>
                        <td>
                          {{ location.departmentName }}
                        </td>
                        <td>
                          <span>
                            <div class="dropdown ms-2" ngbDropdown>
                              <button
                                class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ngbDropdownToggle
                              >
                                <i class="ri-more-fill"></i>
                              </button>
                              <ul
                                class="dropdown-menu dropdown-menu-end"
                                ngbDropdownMenu
                              >
                                <li>
                                  <a
                                    class="dropdown-item cursor-pointer"
                                    (click)="
                                      openLocationViewModal(viewModal, location)
                                    "
                                    ><i
                                      class="ri-eye-fill align-bottom me-2 text-muted"
                                    ></i>
                                    View</a
                                  >
                                </li>

                                <li>
                                  <a   *ngIf="returnValueMenu.edit"
                                    class="dropdown-item cursor-pointer"
                                    (click)="
                                      openLocationFormModal(
                                        formModel,
                                        true,
                                        location
                                      )
                                    "
                                    ><i
                                      class="ri-pencil-fill align-bottom me-2 text-muted"
                                    ></i>
                                    Edit</a
                                  >
                                </li>

                                <li class="dropdown-divider"   *ngIf="returnValueMenu.delete"></li>
                                <li>
                                  <a   *ngIf="returnValueMenu.delete"
                                    class="dropdown-item cursor-pointer"
                                    data-bs-toggle="modal"
                                    data-bs-target="#removeItemModal"
                                    (click)="
                                      confirmDelete(
                                        deleteModel,
                                        location.locationId
                                      )
                                    "
                                    ><i
                                      class="ri-delete-bin-fill align-bottom me-2 text-muted"
                                    ></i>
                                    Delete</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center" *ngIf="locationList.length === 0">
                    No Location Found
                  </div>
                </div>
                <div
                  class="row justify-content-md-between align-items-md-center gy-2"
                >
                  <div class="col-sm-6">
                    <div
                      class="dataTables_info mb-2"
                      id="tickets-table_info"
                      role="status"
                      aria-live="polite"
                    >
                      Showing {{ from }} to {{ to }} of
                      {{ totalRecordsFromApi }} entries
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class=" col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination
                        [collectionSize]="totalRecordsFromApi"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [maxSize]="2"
                        [rotate]="true"
                        (pageChange)="OnChangesPage($event)"
                        *ngIf="totalRecordsFromApi > pageSize"
                      >
                        <ng-template
                          ngbPaginationPrevious
                          let-page
                          let-pages="pages"
                        >
                          <i class="ci-arrow-left me-2"></i> Prev
                        </ng-template>
                        <ng-template ngbPaginationNext>
                          Next
                          <i class="ci-arrow-right ms-2"></i>
                        </ng-template>
                      </ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #formModel let-modal>
  <div class="modal-header p-3 bg-info-subtle">
    <h4 class="modal-title" id="modal-title">
      {{ editMode.isEdit ? "Edit" : "Add" }} Location
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="locationForm">
      <div class="mb-2">
        <div class="card-body">
          <div class="row">
            <div class="form-group">
              <label for="companyId" class="form-label"
                >Company <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="companyList"
                bindLabel="companyName"
                bindValue="companyId"
                [clearable]="false"
                id="companyId"
                formControlName="companyId"
                placeholder="Select Company"
                class="w-100 mr-2 mb-1"
                (change)="onTypeCompany($event)"
              ></ng-select>

              <div *ngIf="companyId.invalid && companyId.touched">
                <small class="text-danger">Company is Required</small>
              </div>
            </div>

            <div class="form-group mt-2">
              <label for="Client" class="form-label"
                >Client <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="clientList"
                bindLabel="clientName"
                bindValue="clientId"
                [clearable]="false"
                id="clientId"
                formControlName="clientId"
                placeholder="Select Client"
                class="w-100 mr-2 mb-1"
                [disabled]="!companyId.value"
                (change)="onTypeClient($event)"
              ></ng-select>

              <div *ngIf="clientId.invalid && clientId.touched">
                <small class="text-danger">Client is Required</small>
              </div>
            </div>

            <div class="form-group mt-2">
              <label for="Client" class="form-label"
                >{{isProject ? 'Project' : 'Department'}} <span class="text-danger">*</span></label
              >
              <ng-select
                [items]="departmentList"
                bindLabel="departmentName"
                bindValue="departmentId"
                [clearable]="false"
                id="departmentId"
                [disabled]="!clientId.value"
                formControlName="departmentId"
               [placeholder]="isProject ? 'Select Project' : 'Select Department'"
                class="w-100 mr-2 mb-1"
              ></ng-select>

              <div *ngIf="clientId.invalid && clientId.touched">
                <small class="text-danger">{{isProject ? 'Project' : 'Department'}} is Required</small>
              </div>
            </div>

            <div class="form-group mt-2">
              <label for="code" class="form-label"
                >Location Code <span style="color: red">*</span></label
              >
              <input
                type="text"
                class="form-control mb-1"
                id="locationCode"
                name="locationCode"
                uppercase
                formControlName="locationCode"
                placeholder="Location Code"
                maxlength="6"
                [class.is-invalid]="
                  locationCode.invalid && locationCode.touched
                "
              />

              <div *ngIf="locationCode.invalid && locationCode.touched">
                <small
                  class="text-danger"
                  *ngIf="locationCode.errors['required']"
                  >Location Code is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="locationCode.errors['minlength']"
                >
                  Location code must be at least 2 characters Required</small
                >
                <small
                  class="text-danger"
                  *ngIf="locationCode.errors['maxlength']"
                >
                  Location code must be less than 5 characters Required</small
                >
              </div>
            </div>

            <div class="form-group col-md-12 mt-2">
              <label for="name" class="form-label"
                >Location Name <span style="color: red">*</span></label
              >
              <input
                type="text"
                class="form-control mb-1"
                id="name"
                formControlName="locationName"
                placeholder="Location Name "
                [class.is-invalid]="
                  locationName.invalid && locationName.touched
                "
              />

              <div *ngIf="locationName.invalid && locationName.touched">
                <small
                  class="text-danger"
                  *ngIf="locationName.errors['required']"
                >
                  Location Name is Required</small
                >
              </div>
            </div>

            <div class="form-group col-md-12 mt-2">
              <label for="name" class="form-label"
                >Remark <span style="color: red">*</span></label
              >
              <textarea
                class="form-control mb-1"
                id="name"
                formControlName="remark"
                rows="5"
                placeholder="Remark "
                [class.is-invalid]="remark.invalid && remark.touched"
            [maxlength]="maxCharsDecision"
            ></textarea>
            <label class="nopadding clrlbl">
              Characters Remaining:
              {{ remark?.value?.length }}/{{
                maxCharsDecision
              }}</label
            >

              <div *ngIf="remark.invalid && remark.touched">
                <small class="text-danger" *ngIf="remark.errors['required']">
                  Remark is Required</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger mr-2"
      (click)="modal.dismiss('cancel')"
    >
      Close
    </button>
    <button
      type="button"
      [disabled]="locationForm.invalid"
      ngbAutofocus
      class="btn btn-success mr-2 mb-2 mb-md-0"
      (click)="save(modal, $event)"
    >
      Submit
    </button>
  </div>
</ng-template>

<ng-template #viewModal let-modal>
  <div class="modal-header pb-3 bg-info-subtle">
    <h4 class="modal-title" id="modal-title">Location Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="locationForm">
      <div class="mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="mb-2 fw-bold">Company</p>
              <p class="fs-14 mb-0">
                {{ locationDetail.companyName }}
              </p>
            </div>

            <div class="col-6">
              <p class="mb-2 fw-bold">Client</p>
              <p class="fs-14 mb-0">
                {{ locationDetail.clientName }}
              </p>
            </div>

            <div class="col-6 mt-3">
              <p class="mb-2 fw-bold"> {{isProject ? "Project" : "Department"}} </p>
              <p class="fs-14 mb-0">
                {{ locationDetail.departmentName }}
              </p>
            </div>

            <div class="col-6 mt-3">
              <p class="mb-2 fw-bold">Location</p>
              <p class="fs-14 mb-0">
                {{ locationDetail.locationName }}
              </p>
            </div>

            <div class="col-6 mt-3">
              <p class="mb-2 fw-bold">Location Code</p>
              <p class="fs-14 mb-0">
                {{ locationDetail.locationCode }}
              </p>
            </div>

            <div class="col-6 mt-3">
              <p class="mb-2 fw-bold">Remark</p>
              <p class="fs-14 mb-0">
                {{ locationDetail.remark }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger me-2"
      (click)="modal.dismiss('cancel')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #deleteModel let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        id="btn-close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="mt-2 text-center">
        <img
        src
        ="../../../../assets/images/ticketChatpartImage.png"
        class
        ="img-fluid rounded chat-image-success">
        <!-- <lord-icon
          src="https://cdn.lordicon.com/gsqxdxog.json"
          trigger="loop"
          colors="primary:#405189,secondary:#f06548"
          style="width: 90px; height: 90px"
        ></lord-icon> -->
        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
          <h4>You are about to delete a Location ?</h4>
          <p class="text-muted mx-4 mb-0">
            Deleting your location will remove all of your information from our
            database.
          </p>
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
        <button
          class="btn  btn-danger"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
          id="deleteRecord-close"
        >
          <i class="ri-close-line me-1 align-middle"></i> Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="delete-product"
          (click)="deleteLocation(deleteId)"
          (click)="modal.close('Close click')"
        >
          Yes, Delete It!
        </button>
      </div>
    </div>
  </div>
  <!-- /.modal-content -->
</ng-template>
