

.h-head {
    height: 140px;
}

.w-90{
    width: 80%;
}

.avatar-md {
    height: 3.5rem !important;
    width: 3.5rem !important;
}


.chat-image{
    height: 79%!important;
    width: 64%!important;
    opacity: 0.5;
  }



.custom-offcanvas2{
    background-color: #fff !important;
}

.text-white{
    color: #fff!important;
}