<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body pt-0">
        <div>
          <ul
            ngbNav
            #nav="ngbNav"
            [activeId]="1"
            class="nav nav-tabs nav-tabs-custom nav-success mb-3"
          >
            <li [ngbNavItem]="1">
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">
                        <th>TICKET</th>
                        <th>Project Detail</th>
                        <th>Ageing</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        *ngIf="listOverDueBillingEligible.length == 0"
                      >
                        <tr>
                          <td colspan="4" class="text-center">
                            No Ticket Data
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container
                        *ngIf="listOverDueBillingEligible.length != 0"
                      >
                        <tr
                          *ngFor="
                            let ticket of listOverDueBillingEligible;
                            let i = index
                          "
                        >
                          <td class="title">
                            <a
                              href="javascript:void(0)"
                              (click)="viewHandler(ticket.ticketId)"
                              class="fw-medium link-primary"
                              >{{ ticket.ticketNo }}</a
                            >

                            <i
                              *ngIf="!ticket.isGlobal"
                              ngbTooltip="Internal"
                              class="ri-home-gear-line align-bottom ms-2 text-info fs-15"
                            ></i>
                            <p
                              class="fotTitle"
                              [title]="ticket.ticketTitle"
                              [id]="
                                ' ticket.ticketTitle' +
                                ticket.ticketId +
                                '_' +
                                i
                              "
                            >
                              {{ ticket.ticketTitle }}
                            </p>
                            <p
                              class="fotTitle"
                              [title]="ticket.createdDate"
                              [id]="
                                ' ticket.createdDate' +
                                ticket.ticketId +
                                '_' +
                                i
                              "
                            >
                              {{ ticket.createdDate }}
                            </p>
                            <p class="fs-14 mb-0">
                              <span
                                [class]="
                                  returnStatusBadgeClassesStatus(
                                    ticket.ticketStatusId
                                  )
                                "
                                >{{ ticket.ticketStatusName }}</span
                              >
                            </p>
                          </td>
                          <td
                            [title]="ticket.companyName"
                            class="title"
                            [id]="'companyName_' + ticket.ticketId + '_' + i"
                          >
                            {{ ticket.companyName }}
                            <p
                              class="fotTitle"
                              [title]="ticket.clientName"
                              [id]="
                                ' ticket.clientName' + ticket.ticketId + '_' + i
                              "
                            >
                              {{ ticket.clientName }}
                            </p>
                            <p
                              class="fotTitle"
                              [title]="ticket.projectName"
                              [id]="
                                ' ticket.projectName' +
                                ticket.ticketId +
                                '_' +
                                i
                              "
                            >
                              {{ ticket.projectName }}
                            </p>
                          </td>

                          <td class="width-35">
                            <div class="d-flex justify-content-between">
                              <div class="d-flex align-items-start">
                                <img
                                  src="{{ imageUrl }}{{
                                    ticket.profileImageUrl
                                  }}"
                                  alt=""
                                  class="avatar-xs rounded-3 me-2"
                                />
                                <div>
                                  <h5
                                    class="fs-13 mb-0"
                                    [title]="ticket.fullName"
                                  >
                                    {{ removetheWordName(ticket.fullName )}}
                                  </h5>
                                  <p
                                    class="fotTitle"
                                    [title]="ticket.approverType"
                                    [id]="
                                      'approverType' + ticket.ticketId + '_' + i
                                    "
                                  >
                                    {{ ticket.approverType }}
                                  </p>
                                </div>
                              </div>
                              <div>
                                <span
                                  [class]="
                                    returnWorkFlowStatusBadgeClasses(
                                      ticket.wfDetailStatusId
                                    )
                                  "
                                  >{{ ticket.assetWorkFlowStatus }}</span
                                >

                                <p
                                  class="fotTitle"
                                  [title]="ticket.startDateTime"
                                  [id]="
                                    'startDateTime' + ticket.ticketId + '_' + i
                                  "
                                >
                                  {{ ticket.startDateTime }}
                                </p>
                                <p
                                  class="fotTitle"
                                   [title]="'Aging Value:'+ticket.overdueValue"
                                  [id]="
                                    'overdueValue' + ticket.ticketId + '_' + i
                                  "
                                >
                                  {{ ticket.overdueValue }}
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <!-- <div
                  class="row justify-content-md-between align-items-md-center gy-2"
                >
                  <div class="col col-sm-12 col col-md-6">
                    <div
                      class="dataTables_info mb-2"
                      id="tickets-table_info"
                      role="status"
                      aria-live="polite"
                    >
                      Showing {{ from }} to {{ to }} of
                      {{ totalRecordsFromApi }} entries
                    </div>
                  </div>
                 <div class="col col-sm-12 col col-md-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination
                        [collectionSize]="totalRecordsFromApi"
                        [pageSize]="pageSize"
                        [(page)]="page"
                        [maxSize]="2"
                        [rotate]="true"
                        (pageChange)="OnChangesPage($event)"
                        *ngIf="totalRecordsFromApi > pageSize"
                      ></ngb-pagination>
                    </div>
                  </div>
                 
                </div> -->
              </ng-template>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
