.fotTitle {
    font-size: 13px !important;
    cursor: auto;
    max-width: 400px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
}

.width-35 {
    width: 34%;
}