<app-breadcrumbs
  [title]="label"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<div class="row">
  <div
    class="col-xxl-2 col-sm-4 stretch-card"
    (click)="onCardClickActive('Total', null)"
  >
    <div class="card">
      <div
        class="card-body"
        [class]="activeCard == 'Total' ? 'activeCardClasss' : ''"
      >
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-light text-primary rounded-circle fs-3"
            >
              <i class="ri-ticket-2-line align-middle"></i>
            </span>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="text-uppercase fw-semibold fs-12 mb-1">Total</p>
            <ng-container *ngIf="totalCountTicketOnly.countTotalTicket != 0">
              <h4 class="mb-0">
                <span
                  [countUp]="totalCountTicketOnly.countTotalTicket"
                  class="counter-value cursor-pointer"
                  [options]="option"
                ></span>
              </h4>
            </ng-container>
            <ng-container *ngIf="totalCountTicketOnly.countTotalTicket == 0">
              <h4 class="mb-0">0</h4>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card-->
  </div>
  <!--end col-->
  <div
    class="col-xxl-2 col-sm-4 stretch-card"
    (click)="onCardClickActive('New', 48)"
  >
    <div class="card">
      <div
        class="card-body"
        [class]="activeCard == 'New' ? 'activeCardClasss' : ''"
      >
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-light text-primary rounded-circle fs-3"
            >
              <i class="ri-coupon-5-line align-middle"></i>
            </span>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="text-uppercase fw-semibold fs-12 mb-1">New</p>
            <ng-container *ngIf="totalCountTicketOnly.countNewTicket != 0">
              <h4 class="mb-0">
                <span
                  [countUp]="totalCountTicketOnly.countNewTicket"
                  class="counter-value cursor-pointer"
                  [options]="option"
                ></span>
              </h4>
            </ng-container>
            <ng-container *ngIf="totalCountTicketOnly.countNewTicket == 0">
              <h4 class="mb-0">0</h4>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
  </div>
  <!--end col-->
  <div
    class="col-xxl-2 col-sm-4 stretch-card"
    (click)="onCardClickActive('In-Progress', 30)"
  >
    <div class="card">
      <div
        class="card-body"
        [class]="activeCard == 'In-Progress' ? 'activeCardClasss' : ''"
      >
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-light text-primary rounded-circle fs-3"
            >
              <i class="mdi mdi-timer-sand align-middle"></i>
            </span>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="text-uppercase fw-semibold fs-12 mb-1">In-Progress</p>
            <ng-container
              *ngIf="totalCountTicketOnly.countInProgressTicket != 0"
            >
              <h4 class="mb-0">
                <span
                  [countUp]="totalCountTicketOnly.countInProgressTicket"
                  class="counter-value cursor-pointer"
                  [options]="option"
                ></span>
              </h4>
            </ng-container>
            <ng-container
              *ngIf="totalCountTicketOnly.countInProgressTicket == 0"
            >
              <h4 class="mb-0">0</h4>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
  </div>
  <!--end col-->
  <div
    class="col-xxl-2 col-sm-4 stretch-card"
    (click)="onCardClickActive('Partially', 34)"
  >
    <div class="card">
      <div
        class="card-body"
        [class]="activeCard == 'Partially' ? 'activeCardClasss' : ''"
      >
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-light text-primary rounded-circle fs-3"
            >
              <i class="mdi mdi-clock align-middle"></i>
            </span>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="text-uppercase fw-semibold fs-12 mb-1">Partially</p>
            <ng-container *ngIf="totalCountTicketOnly.countOnHoldTicket != 0">
              <h4 class="mb-0">
                <span
                  [countUp]="totalCountTicketOnly.countOnHoldTicket"
                  class="counter-value cursor-pointer"
                  [options]="option"
                ></span>
              </h4>
            </ng-container>
            <ng-container *ngIf="totalCountTicketOnly.countOnHoldTicket == 0">
              <h4 class="mb-0">0</h4>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
  </div>
  <!--end col-->
  <div
    class="col-xxl-2 col-sm-4 stretch-card"
    (click)="onCardClickActive('Closed', 32)"
  >
    <div class="card">
      <div
        class="card-body"
        [class]="activeCard == 'Closed' ? 'activeCardClasss' : ''"
      >
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-light text-primary rounded-circle fs-3"
            >
              <i class="mdi mdi-close-box align-middle"></i>
            </span>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="text-uppercase fw-semibold fs-12 mb-1">Closed</p>
            <ng-container *ngIf="totalCountTicketOnly.countClosedTicket != 0">
              <h4 class="mb-0">
                <span
                  [countUp]="totalCountTicketOnly.countClosedTicket"
                  class="counter-value cursor-pointer"
                  [options]="option"
                ></span>
              </h4>
            </ng-container>
            <ng-container *ngIf="totalCountTicketOnly.countClosedTicket == 0">
              <h4 class="mb-0">0</h4>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
  </div>
  <!--end col-->
  <div
    class="col-xxl-2 col-sm-4 stretch-card"
    (click)="onCardClickActive('Resolved', 31)"
  >
    <div class="card">
      <div
        class="card-body"
        [class]="activeCard == 'Resolved' ? 'activeCardClasss' : ''"
      >
        <div class="d-flex align-items-center">
          <div class="avatar-sm flex-shrink-0">
            <span
              class="avatar-title bg-light text-primary rounded-circle fs-3"
            >
              <i class="mdi mdi-ticket-confirmation-outline align-middle"></i>
            </span>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="text-uppercase fw-semibold fs-12 mb-1">Resolved</p>
            <ng-container *ngIf="totalCountTicketOnly.countResolvedTicket != 0">
              <h4 class="mb-0">
                <span
                  [countUp]="totalCountTicketOnly.countResolvedTicket"
                  class="counter-value cursor-pointer"
                  [options]="option"
                ></span>
              </h4>
            </ng-container>
            <ng-container *ngIf="totalCountTicketOnly.countResolvedTicket == 0">
              <h4 class="mb-0">0</h4>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- end card body -->
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row g-3 align-items-center">
          <div class="col-lg-3 mb-2">
            <h5 class="card-title mb-0">My Ticket List</h5>
          </div>
          <!-- <div class="col-lg mb-2">
            <ng-select [items]="isGlobalList" (change)="onClickisGlobal(selectedIsGlobal, true)"
              (change)="selectedOperationType = null" placeholder="Select Internal/Global"
              [(ngModel)]="selectedIsGlobal" class="custom w-100" [clearable]="true">
            </ng-select>
          </div>
          <div class="col-lg mb-2">
            <ng-select [readonly]="!selectedIsGlobal" [items]="operationList" bindLabel="name" bindValue="name"
              placeholder="Select Operation Type" [clearable]="true" [(ngModel)]="selectedOperationType"
              placeholder="Service Type" class="custom w-100" (change)="onChangeOperationType()" (change)="selectedIsBillable = null" >
            </ng-select>
          </div> -->

          <!-- <div class="col-lg mb-2">
            <ng-select [readonly]="!selectedIsGlobal" bindLabel="name" bindValue="name" [items]="isBillableList"
              placeholder="Select IsBillable" [clearable]="false" [(ngModel)]="selectedIsBillable" (change)="onChangeIsBillable()">
           
           
            </ng-select>
          </div> -->
          <div class="col-lg-9 d-flex justify-content-end mb-2">
            <div class="search-box w-50">
              <input
                type="search"
                name="searchTerm"
                class="form-control"
                [(ngModel)]="typeTicketNameValue"
                placeholder="Ticket name"
                #inputerTicketNumber
              />
              <i class="ri-search-line search-icon"></i>
            </div>
            <div *ngIf="returnValueMenu.add">
              <button
                type="button"
                class="btn btn-success add-btn ms-3"
                id="create-btn"
                (click)="navigateToAdd()"
              >
                <i class="ri-add-line align-bottom me-1"></i> Add Tickets
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">
        <div class="row g-3">
          <div class="col-lg">
            <ng-select
              [items]="arrayListDropDownCompany"
              bindLabel="companyName"
              bindValue="companyId"
              (change)="onDropdownCompanyValueChange($event)"
              [clearable]="true"
              id="companyName"
              [(ngModel)]="selectedDropDownCompanyIdValue"
              placeholder="Select Company"
              class="w-100 mr-2"
              for="companyName"
              [readonly]="disabledWithAceessGroup"
            ></ng-select>
          </div>
          <div class="col-lg">
            <ng-select
              [items]="arrayListDropDownClientList"
              bindLabel="clientName"
              bindValue="clientId"
              [disabled]="!selectedDropDownCompanyIdValue"
              (change)="onDropdownClientValueChange($event)"
              [clearable]="true"
              id="clientName"
              [(ngModel)]="selectedDropDownClientIdValue"
              placeholder="Select Client"
              class="w-100 mr-2"
              for="clientName"
              [readonly]="disabledWithAceessGroup"
            ></ng-select>
          </div>
          <div class="col-lg">
            <ng-select
              [readonly]="projectDepartmentFieldDisiabled"
              [items]="arrayListDropDownProjectOrDeparmentList"
              bindLabel="departmentName"
              bindValue="departmentId"
              [disabled]="
                !selectedDropDownCompanyIdValue ||
                !selectedDropDownClientIdValue
              "
              (change)="onDropdownDepartmentValueChange($event)"
              [clearable]="true"
              id="departmentName"
              [(ngModel)]="selectedDropDownProjectOrDeparmentIdValue"
              [placeholder]="isProject ? 'Select Project' : 'Select Department'"
              class="w-100 mr-2"
              for="departmentName"
            ></ng-select>
          </div>
          <div class="col-lg">
            <ng-select
              [items]="arrayListDropDownTicketStatus"
              bindLabel="assetStatus"
              bindValue="assetStatusId"
              (change)="onDropdownTicketStatusValueChange($event)"
              [clearable]="true"
              id="ticketStatus"
              [(ngModel)]="selectedDropDownTicketStatusIdValue"
              placeholder="Select Ticket Status"
              class="w-100 mr-2"
              for="ticketStatus"
            ></ng-select>
          </div>
          <div class="col-lg-auto">
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="btn"
                [class]="
                  selectedRequesterName ||
                  selectedRequesterEmail ||
                  selectedTicketTagId ||
                  selectedCreatedDate?.form ||  selectedCreatedDate?.to||
                  selectedIsGlobal ||
                  selectedOperationType ||
                  selectedIsBillable ||
                  selectedTicketType ||
                  selectedDropDownTicketTypeIdValue ||
                  selectedUrgentValue
                    ? 'btn-success'
                    : 'btn-primary'
                "
                (click)="openFilter(filtetcontent)"
              >
                <i class="ri-equalizer-fill align-bottom me-1"></i> Filters
              </button>
              <button
                type="button"
                class="btn btn-danger ms-1"
                (click)="resetSerachVariable()"
                ngbTooltip="Remove All Search"
              >
                <i class="ri-refresh-fill me-1 align-bottom"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body pt-0">
        <div>
          <ul
            ngbNav
            #nav="ngbNav"
            [activeId]="1"
            class="nav nav-tabs nav-tabs-custom nav-success mb-3"
          >
            <li [ngbNavItem]="1">
              <ng-template ngbNavContent>
                <div class="table-responsive table-card mb-0">
                  <table class="table">
                    <thead>
                      <tr class="bg-light text-muted text-uppercase">
                        <th>TICKET NO</th>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Client</th>
                        <th>{{ isProject ? "Project" : "Department" }}</th>
                        <th>Create Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="ticketList.length == 0">
                        <tr>
                          <td colspan="9" class="text-center">
                            No Ticket Data
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="ticketList.length != 0">
                        <tr *ngFor="let ticket of ticketList; let i = index">
                          <td class="align-top">
                            <a
                              href="javascript:void(0)"
                              (click)="viewHandler(ticket.ticketId)"
                              class="fw-medium link-primary"
                              >{{ ticket.ticketNo }}</a
                            >

                            <p class="d-flex mb-0">
                              <i
                                class="ri-eye-fill align-bottom ms-2 text-success fs-15"
                                (click)="
                                  getV2_MaintenanceWorkflowAudit(
                                    ticket.ticketId,

                                    openAduitOffSet,
                                    ticket.ticketStatusId
                                  )
                                "
                              ></i>
                              <i
                                *ngIf="!ticket.isGlobal"
                                ngbTooltip="Internal"
                                class="ri-home-gear-line align-bottom ms-2 text-info fs-15"
                              ></i>

                              <i
                                *ngIf="ticket.isBillingRequired"
                                ngbTooltip="Billable"
                                class="ri-money-dollar-circle-line align-bottom ms-2 text-success fs-15"
                              ></i>
                            </p>
                          </td>

                          <td
                            [title]="ticket.ticketTitle"
                            class="title align-top"
                            (click)="
                              expandTitle(
                                'ticketTitle_' + ticket.ticketId + '_' + i
                              )
                            "
                            [id]="'ticketTitle_' + ticket.ticketId + '_' + i"
                          >
                            {{ ticket.ticketTitle }}
                          </td>
                          <td
                            [title]="ticket.companyName"
                            class="title align-top"
                            (click)="
                              expandTitle(
                                'companyName_' + ticket.ticketId + '_' + i
                              )
                            "
                            [id]="'companyName_' + ticket.ticketId + '_' + i"
                          >
                            {{ ticket.companyName }}
                          </td>
                          <td
                            [title]="ticket.clientName"
                            class="title align-top"
                            (click)="
                              expandTitle(
                                'clientName_' + ticket.ticketId + '_' + i
                              )
                            "
                            [id]="'clientName_' + ticket.ticketId + '_' + i"
                          >
                            {{ ticket.clientName }}
                          </td>
                          <td
                            [title]="ticket.projectName"
                            class="title align-top"
                            (click)="
                              expandTitle(
                                'projectName_' + ticket.ticketId + '_' + i
                              )
                            "
                            [id]="'projectName_' + ticket.ticketId + '_' + i"
                          >
                            {{ ticket.projectName }}
                          </td>
                          <td
                            [title]="ticket.createdDate"
                            class="title align-top"
                            (click)="
                              expandTitle('createdDate_' + ticket.ticketId)
                            "
                            [id]="'createdDate_' + ticket.ticketId"
                          >
                            {{ ticket.createdDate }}<br />
                            <span class="badge bg-info">{{
                              ticket.ticketTypeName
                            }}</span>
                          </td>

                          <td class="status align-top">
                            <span
                              class="badge bg-danger text-uppercase"
                              *ngIf="ticket?.urgencyTypeName == 'High'"
                            >
                              {{ ticket?.urgencyTypeName }}
                            </span>
                            <span
                              class="badge bg-success text-uppercase"
                              *ngIf="ticket?.urgencyTypeName == 'Low'"
                            >
                              {{ ticket?.urgencyTypeName }}
                            </span>
                            <span
                              class="badge bg-warning text-uppercase"
                              *ngIf="ticket?.urgencyTypeName == 'Medium'"
                            >
                              {{ ticket?.urgencyTypeName }}
                            </span>
                          </td>

                          <td class="status align-top">
                            <span
                              [class]="
                                returnStatusBadgeClassesStatus(
                                  ticket.ticketStatusId
                                )
                              "
                              >{{ ticket.ticketStatusName }}</span
                            >
                          </td>

                          <td class="align-top">
                            <span>
                              <div class="dropdown" ngbDropdown>
                                <button
                                  class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                                  type="button"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                  ngbDropdownToggle
                                >
                                  <i class="ri-more-fill"></i>
                                </button>
                                <ul
                                  class="dropdown-menu dropdown-menu-end"
                                  ngbDropdownMenu
                                >
                                  <li>
                                    <a
                                      class="dropdown-item cursor-pointer"
                                      (click)="viewHandler(ticket.ticketId)"
                                      ><i
                                        class="ri-eye-fill align-bottom me-2 text-muted"
                                      ></i>
                                      View
                                    </a>
                                  </li>
                                  <li
                                    *ngIf="
                                      ticket.ticketStatusId != 30 &&
                                      ticket.ticketStatusId != 34 &&
                                      ticket.ticketStatusId != 31 &&
                                      ticket.ticketStatusId != 32 &&
                                      ticket.ticketStatusId != 61 &&
                                      ticket.ticketStatusId != 19
                                    "
                                  >
                                    <a
                                      class="dropdown-item cursor-pointer"
                                      (click)="
                                        openModalcancelHandler(ticket.ticketId)
                                      "
                                      ><i
                                        class="ri-close-circle-line align-bottom me-2 text-muted"
                                      ></i>
                                      Cancelation Ticket
                                    </a>
                                  </li>
                                  <!-- <li class="dropdown-divider"></li> -->
                                  <!-- <li>
                                  <a
                                    class="dropdown-item cursor-pointer"
                                    *ngIf="returnValueMenu?.delete"
                                    (click)="
                                      sweetAlertDeleteConfirmation(ticket?.id)
                                    "
                                    data-bs-toggle="modal"
                                    data-bs-target="#removeItemModal"
                                    ><i
                                      class="ri-delete-bin-fill align-bottom me-2 text-muted"
                                    ></i>
                                    Delete</a
                                  >
                                </li> -->
                                </ul>
                              </div>
                            </span>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <div
                  class="row justify-content-md-between align-items-md-center gy-2"
                >
                  <div class="col col-sm-12 col col-md-6">
                    <div
                      class="dataTables_info mb-2"
                      id="tickets-table_info"
                      role="status"
                      aria-live="polite"
                    >
                      Showing {{ from }} to {{ to }} of
                      {{ totalRecordsFromApi }} entries
                    </div>
                  </div>
                  <!-- Pagination -->
                  <div class="col col-sm-12 col col-md-6">
                    <div class="text-sm-right float-end listjs-pagination">
                      <ngb-pagination
                        [collectionSize]="totalRecordsFromApi"
                        [pageSize]="pageSize"
                        [(page)]="page"
                        [maxSize]="2"
                        [rotate]="true"
                        (pageChange)="OnChangesPage($event)"
                        *ngIf="totalRecordsFromApi > pageSize"
                      ></ngb-pagination>
                    </div>
                  </div>
                  <!-- End Pagination -->
                </div>
              </ng-template>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #filtetcontent let-offcanvas>
  <div class="offcanvas-header p-3 bg-info-subtle">
    <h5 class="offcanvas-title" id="exampleModalLabel">Filters</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      id="close-offcanvas"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>

  <div class="offcanvas-body">
    <div class="row">
      <!-- <div class="col-lg-12 mb-2">
        <label for="selectedRequesterName" class="form-label mb-0 fw-semibold"
          >Requester Name</label
        >
        <input
          type="text"
          name="selectedRequesterName"
          id="selectedRequesterName"
          class="form-control"
          [(ngModel)]="selectedRequesterName"
          placeholder="Requester Name "
        />
      </div> -->
      <!-- <div class="col-lg-12 mb-2">
        <label for="selectedRequesterEmail" class="form-label mb-0 fw-semibold"
          >Requester Email</label
        >
        <input
          type="email"
          name="selectedRequesterEmail"
          id="selectedRequesterEmail"
          class="form-control"
          [(ngModel)]="selectedRequesterEmail"
          placeholder="Search Requester Email"
        />
      </div> -->
      <div class="col-lg-12 mb-2">
        <label for="selectedTicketTagId" class="form-label mb-0 fw-semibold"
          >Ticket Tag Id</label
        >
        <input
          type="text"
          name="selectedTicketTagId"
          id="selectedTicketTagId"
          class="form-control"
          [(ngModel)]="selectedTicketTagId"
          placeholder="Ticket Tag Id"
        />
      </div>
      <div class="col-lg-12 mb-2">
        <label for="selectedCreatedDate" class="form-label mb-0 fw-semibold"
          >Created Date</label
        >
        <input
          type="text"
          name="selectedCreatedDate"
          id="selectedCreatedDate"
          class="form-control"
          [(ngModel)]="selectedCreatedDate"
          placeholder="Created Date"
          mwlFlatpickr
          [altInput]="false"
          [enableTime]="false"
          [dateFormat]="'d-m-Y'"
          [altInput]="false"
          [convertModelValue]="true"
          mode="range"
        />
      </div>
      <div class="col-lg-12 mb-2">
        <label for="selectedIsGlobal" class="form-label mb-0 fw-semibold"
          >Internal/Global
        </label>
        <ng-select
          [items]="isGlobalList"
          (change)="onClickisGlobal(selectedIsGlobal, true)"
          (change)="selectedOperationType = null"
          placeholder="Select Internal/Global"
          [(ngModel)]="selectedIsGlobal"
          class="custom w-100"
          [clearable]="true"
        >
        </ng-select>
      </div>

      <div class="col-lg-12 mb-2">
        <label for="selectedTicketTypeId" class="form-label mb-0 fw-semibold"
          >Service Type</label
        >
        <ng-select
          
          [items]="operationList"
          bindLabel="name"
          bindValue="name"
          placeholder="Select Operation Type"
          [clearable]="true"
          [(ngModel)]="selectedOperationType"
          placeholder="Service Type"
          class="custom w-100"
          (change)="onChangeOperationType()"
          (change)="selectedIsBillable = null"
        >
        </ng-select>
      </div>
      <div class="col-lg-12 mb-2">
        <label for="selectedIsBillable" class="form-label mb-0 fw-semibold"
          >IsBillable
        </label>
        <ng-select
          [readonly]="!selectedIsGlobal"
          bindLabel="name"
          bindValue="name"
          [items]="isBillableList"
          placeholder="Select IsBillable"
          [clearable]="false"
          [(ngModel)]="selectedIsBillable"
          (change)="onChangeIsBillable()"
        >
        </ng-select>
      </div>
      <div class="col-lg-12 mb-2">
        <label for="selectedTicketType" class="form-label mb-0 fw-semibold"
          >Ticket Type</label
        >
        <ng-select
          [items]="ticketTypeList"
          placeholder="Select Ticket Type"
          [clearable]="false"
          [(ngModel)]="selectedTicketType"
          (change)="ticketTypeHandler($event)"
        >
        </ng-select>
      </div>
      <div class="col-lg-12 mb-2">
        <label
          for="selectedDropDownTicketTypeIdValue"
          class="form-label mb-0 fw-semibold"
          >Ticket Category</label
        >
        <ng-select
          [readonly]="!selectedTicketType"
          [items]="masterTicketTypeList"
          bindLabel="ticketTypeName"
          bindValue="ticketTypeId"
          placeholder="Select Category"
          [clearable]="false"
          [(ngModel)]="selectedDropDownTicketTypeIdValue"
        >
        </ng-select>
      </div>
      <div class="col-lg-12 mb-2">
        <label for="selectedUrgentValue" class="form-label mb-0 fw-semibold"
          >Priority</label
        >
        <ng-select
          [items]="urgentList"
          bindLabel="urgencyTypeName"
          bindValue="urgencyTypeName"
          placeholder="Select Priority"
          [clearable]="false"
          [(ngModel)]="selectedUrgentValue"
        >
        </ng-select>
      </div>
    </div>
  </div>
  <div class="offcanvas-footer text-end mb-3">
    <button
      class="btn btn-light me-2"
      (click)="resetSerachVariableWithModal()"
     
    >
      Clear
    </button>
    <button
      type="submit"
      class="btn btn-primary me-3"
      (click)="offcanvas.close('Ok', $event)"
    >
      Search
    </button>
  </div>
</ng-template>

<ng-template #openAduitOffSet let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">WorkFlow Audit</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="text-danger m-auto" *ngIf="currentStatus == 19">
    <p class="fs-17 mb-0"><b>Ticket has been canceled</b></p>
  </div>
  <div class="offcanvas-body pt-0">
    <app-audit-chart [Data]="maintenanceWorkflowAuditList"></app-audit-chart>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="offcanvas.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
