.ticket-card {
    min-height: 420px;
}

.text-uppercase {
    color: #000 !important
}

.img-fluid {
    height: 100px !important;
    max-width: 74% !important;
    border: 1px solid black !important;
}

