@media only screen and (max-width: 600px) {
    .w-50 {
        width: 100% !important;
    }
    .modal-content{
        width: 70% !important;
    }
    .modal-dialog-centered {
        width: 70% !important;
    }

}