.avatar-title {
    align-items: center;
    background-color: #5ea3cb;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 88%;
}

.avatar-xl {
    height: 9.5rem;
    width: 9.5rem;
}