.footer-background {
    background: #fafbfb !important;
}


    .text-truncate_new {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
