<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Dashboard </li>
        <li class="breadcrumb-item active" aria-current="page">Asset Profile</li>
    </ol>
</nav>


<div class="card">
    <div class="card-body">
        <h6 class="card-title mb-0">

            <div class="row">
                <div class="col-md-10 col-sm-12 col-xl-9 ">
                    {{assetProfileData.assetName}}
                    <p> <span class="badge  badge-font badge-primary"
                            *ngIf="assetProfileData.assetTagId!=null;">{{assetProfileData.assetTagId}}</span></p>

                </div>
                <div class="col-md-10 col-sm-12 col-xl-3 mt-1 ">
                    <span class="float-right">
                        <span class="badge  badge-font badge-light " *ngIf="assetProfileData.assetStatusId==1;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>

                        <span class="badge  badge-font badge-warning " *ngIf="assetProfileData.assetStatusId==2;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-success" *ngIf="assetProfileData.assetStatusId==3;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-danger" *ngIf="assetProfileData.assetStatusId==4;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-info" *ngIf="assetProfileData.assetStatusId==5;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-info" *ngIf="assetProfileData.assetStatusId==6;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-info" *ngIf="assetProfileData.assetStatus==7;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-danger" *ngIf="assetProfileData.assetStatusId==8;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>

                        <span class="badge  badge-font badge-danger" *ngIf="assetProfileData.assetStatusId==9;"
                            ><span style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-secondary"
                            *ngIf="assetProfileData.assetStatusId==10;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-primary" *ngIf="assetProfileData.assetStatusId==11;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-warning" *ngIf="assetProfileData.assetStatusId==12;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-danger" *ngIf="assetProfileData.assetStatusId==13;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-danger" *ngIf="assetProfileData.assetStatusId==14;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-primary" *ngIf="assetProfileData.assetStatusId==15;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-danger" *ngIf="assetProfileData.assetStatusId==16;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-success" *ngIf="assetProfileData.assetStatusId==17;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>

                        <span class="badge  badge-font badge-warning p-1" *ngIf="assetProfileData.assetStatusId==18;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-danger p-1" *ngIf="assetProfileData.assetStatusId==19;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-dark  p-1" *ngIf="assetProfileData.assetStatusId==20;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-success p-1" *ngIf="assetProfileData.assetStatusId==21;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-warning  p-1 " *ngIf="assetProfileData.assetStatusId==22;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>
                        <span class="badge  badge-font badge-warning  p-1 " *ngIf="assetProfileData.assetStatusId==23;"><span
                                style="font-size:15px">{{assetProfileData.assetStatus}}</span>
                        </span>




                    </span>
                </div>
            </div>




        </h6>
        <hr class="mt-1">
        <div class="row">
            <div class="col-sm-12 col-md-4  col-xl-3 stretch-card">
                <div class="row">
                    <div class="col-md-12 col-xl-12 mb-1 stretch-card">

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title  align-items-center  mb-2">Asset Image</h6>
                                <hr class="mb-1 mt-0">
                                <div style=" padding-top:10%">
                                    <img class="img-fluid" src="{{ImageUrl}}{{assetProfileData.assetImagePath}}"
                                        *ngIf="assetProfileData.assetImagePath!=null" alt="">
                                    <img style=" padding-left:20%" class="img-fluid"
                                        src="../../../../../assets/images/placeholderimage.png"
                                        *ngIf="assetProfileData.assetImagePath==null" alt="">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-12 mb-1 stretch-card">

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title  align-items-center  mb-2">ACCOUNT INFORMATION</h6>
                                <hr class="mb-0 mt-0">
                                <div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">PO Number</label>
                                        <p class="text-muted">{{assetProfileData.poNumber||'NA'}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Invoice No</label>
                                        <p class="text-muted">{{assetProfileData.invoiceNo||'NA'}}</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Invoice Date</label>
                                        <p class="text-muted">{{assetProfileData.invoiceDate||'NA'}}</p>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title  align-items-center  mb-2">Remark</h6>
                                <hr class="mb-1 mt-0">
                                <p class="text-muted">{{assetProfileData.remarks ||'NA'}}.</p>





                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-sm-9 col-md-7 col-xl-9  stretch-card">
                <div class="row">
                    <div class="col-md-12 col-xl-12 mb-1 stretch-card">

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title  align-items-center  mb-2">BASIC INFORMATION</h6>
                                <hr class="mb-0 mt-0">
                                <div class="row">

                                    <!-- <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Asset Name</label>
                                        <p class="text-muted"></p>
                                    </div> -->
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Category
                                            Date</label>
                                        <p class="text-muted">{{assetProfileData.categoryName ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Sub-Category
                                            Price</label>
                                        <p class="text-muted">{{assetProfileData.subCategoryName ||'NA'}}</p>
                                    </div>

                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Asset Assign To
                                        </label>
                                        <p class="text-muted">{{assetProfileData.assignType ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase"> {{isProject ? 'Project': 'Department'}}</label>
                                        <p class="text-muted">{{assetProfileData.departmentName ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Employee</label>
                                        <p class="text-muted">{{assetProfileData.employeeName ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Location</label>
                                        <p class="text-muted">{{assetProfileData.locationName ||'NA'}}</p>
                                    </div>
                                    

                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Vendor
                                        </label>
                                        <p class="text-muted">{{assetProfileData.vendorName ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Model</label>
                                        <p class="text-muted">{{assetProfileData.model ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Serial No</label>
                                        <p class="text-muted">{{assetProfileData.serialNo ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Old Asset Id</label>
                                        <p class="text-muted">{{assetProfileData.thirdPartySystemAssetId ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Warranty Start</label>
                                        <p class="text-muted">{{assetProfileData.warrantyStart ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Warranty End</label>
                                        <p class="text-muted">{{assetProfileData.warrantyEnd ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Dispose Type</label>
                                        <p class="text-primary"  *ngIf="_disposeId==7">{{_disposeName ||'NA'}}</p>
                                  
                                        <p  style="color: rgba(235, 137, 26, 0.911);"*ngIf="_disposeId==6">{{_disposeName ||'NA'}}</p>
                                        <p class="text-danger"  *ngIf="_disposeId==9">{{_disposeName ||'NA'}}</p>
                                    </div>
                                     </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-12 stretch-card">

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title  align-items-center  mb-2">DEPRECIATION DETAILS</h6>
                                <hr class="mb-0 mt-0">

                                <div class="row">

                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Depreciation</label>
                                        <p class="text-muted">{{assetProfileData.depreciationName ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Asset Life
                                            Span</label>
                                        <p class="text-muted">{{assetProfileData.assetLifeSpan ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Purchased
                                            Date</label>
                                        <p class="text-muted">{{assetProfileData.purchaseDate ||'NA'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Purchased
                                            Price</label>
                                        <p class="text-muted">{{assetProfileData.purchasePrice | number:'1.2-2'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Residual
                                            Amount</label>
                                        <p class="text-muted">{{assetProfileData.residualAmount |number:'1.2-2'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Depreciation
                                            Value</label>
                                        <p class="text-muted">{{assetProfileData.depreValue | number:'1.2-2'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3" *ngIf="assetProfileData.depreciationID==2">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Net Book Value
                                        </label>
                                        <p class="text-muted">{{assetProfileData.monthlyNetBookValueValue |
                                            number:'1.2-2'}}</p>
                                    </div>


                                    <div class=" col-md-4 mt-3"
                                        *ngIf="assetProfileData.disposeID==6||assetProfileData.disposeID==7 ||assetProfileData.disposeID==9">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Sales</label>
                                        <p class="text-muted">{{assetProfileData.salesProceed | number:'1.2-2'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3" *ngIf="assetProfileData.depreciationID!=2">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Depreciation
                                            Percent</label>
                                        <p class="text-muted">{{assetProfileData.deprePercent ||'0'}}</p>
                                    </div>
                                    <div class=" col-md-4 mt-3" *ngIf="assetProfileData.depreciationID!=2">
                                        <label class="tx-11 font-weight-bold mb-0 text-uppercase">Depreciation Adjust
                                            Value</label>
                                        <p class="text-muted">{{assetProfileData.depreAdjustValue | number:'1.2-2'}}</p>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 stretch-card" *ngIf="assetProfileData.depreciationID==2">

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title  align-items-center  mb-2"> Depreciation Schedule</h6>
                                <hr class="mb-0 mt-0">

                                <div class="row">



                                    <div class="table-responsive  mt-3">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                             
                                                <tr>
                                                    <th class="pt-0">Year</th>
                                                    <th class="pt-0">Accumulated</th>
                                                    <th class="pt-0">Expense</th>
                                                    <th class="pt-0">Book Value Year Start</th>
                                                    <th class="pt-0">Net Book Value Year End</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let depr of depriciatioScheduleList">
                                                    <td>{{depr.year}}</td>
                                                    <td>{{depr.accumulatedDepreciation| number:'1.2-2'}}</td>
                                                    <td>{{depr.depreciationExpense | number:'1.2-2'}}</td>
                                                    <td>{{depr.bookValueYearStart| number:'1.2-2'}}</td>
                                                    <td>{{depr.netBookValueYearEnd | number:'1.2-2'}}</td>
                                                     </tr>


                                               
                                               </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>







    </div>
    <div class="spinner-border text-primary mr-5" style="position: absolute; left: 50%;top:50%"
        *ngIf="loadingprofileData">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="card-footer">
        <span class="pt-4">


            <button class="btn btn-primary mr-2 mb-2 mb-md-0" *ngIf="_approverType=='Approver'"
                (click)="sweetAlertApproverConfirmation()"> Approver</button>
            <button class="btn btn-primary mr-2 mb-2 mb-md-0" *ngIf="_approverType=='Reviewer'"
                (click)="sweetAlertReviewerConfirmation()">Reviewer</button>

            <button class="btn btn-danger mr-2 mb-2 mb-md-0 " (click)="sweetAlertRejectConfirmation()">Reject
            </button>
            <button class="btn btn btn-outline-primary mr-2 mb-2 mb-md-0" type="button" (click)="goto()">
                Back
            </button>

        </span>
    </div>
</div>