

<div class="row justify-content-center">
    <div class="col-xxl-10">
      <div class="card" id="demo">
        
        <div class="row"  >
          <div class="col-lg-12 text-center">
            <div class="p-4">
              <div class="text-center mb-2">
                <img
                  [src]="
                    quotationObject.companyLogoURL
                      ? imgUrl + quotationObject.companyLogoURL
                      : '../../../../../../assets/images/placeholderimage.png'
                  "
                  class="card-logo"
                  alt="logo light"
                  height="47"
                />
              </div>
  
              <div class="mt-sm-0 mt-0">
                <h6 class="text-muted text-uppercase fw-semibold mb-0">
                  {{ quotationObject.companyName }}
                </h6>
                <p class="text-muted mb-1">
                  {{ quotationObject.companyAddress1 }}
                </p>
                <p class="text-muted mb-1">
                  {{
                    quotationObject.companyAddress2
                      ? quotationObject.companyAddress2
                      : ""
                  }}
                  {{
                    quotationObject.companyAddress3
                      ? quotationObject.companyAddress3
                      : ""
                  }}
                  {{
                    quotationObject?.companyCountry
                      ? quotationObject?.companyCountry
                      : ""
                  }}
                </p>
                <p class="text-muted mb-0" id="zip-code">
                  <span>Zip-code: </span> {{ quotationObject.companyPostalCode }}
                </p>
  
          
              </div>
            </div>
          </div>
          <!--end col-->
          
            <div class="col-12">
              <div class="card-header border-bottom-dashed border-top-dashed p-4">
                <div class="row">
                  <div class="col-6">
                    <h6 class="text-muted text-uppercase fw-semibold">
                      {{ quotationObject.clientName }}
                    </h6>
                    <p class="text-muted mb-1" id="address-details">
                      {{ quotationObject.clientAddress1 }}
                    </p>
                    <p class="text-muted mb-1">
                      {{
                        quotationObject.clientAddress2
                          ? quotationObject.clientAddress2
                          : ""
                      }}
                      {{
                        quotationObject.clientAddress3
                          ? quotationObject.clientAddress3
                          : ""
                      }}
                      {{
                        quotationObject.clientCountry
                          ? quotationObject.clientCountry
                          : ""
                      }}
                    </p>
                    <p class="text-muted mb-0" id="zip-code">
                      <span>Zip-code:</span> {{ quotationObject.clientPostalCode }}
                    </p>
                  </div>
                  <div class="col-6 float-right">
                    <div class="d-flex justify-content-md-end"  style="overflow: auto;">
                      <table>
                        <tbody>
                          <tr>
                            <td style="width: 30px">
                              <h6>
                                <span class="text-muted fw-normal">{{
                                  isProject ? "Project" : "Department"
                                }}</span>
                              </h6>
                            </td>
                            <td>
                              <h6>
                                <span id="legal-register-no">
                                  &nbsp;: &nbsp;{{
                                    quotationObject.projectName
                                  }}</span
                                >
                              </h6>
                            </td>
                          </tr>
                          <tr>
                            <td style="width: 30px">
                              <h6>
                                <span class="text-muted fw-normal">Ticket No</span>
                              </h6>
                            </td>
                            <td>
                              <h6>
                                <span id="legal-register-no"
                                  >&nbsp;: &nbsp; #{{
                                    quotationObject.ticketNo
                                  }}</span
                                >
                              </h6>
                            </td>
                          </tr>
                          <tr>
                            <td style="width: 30px">
                              <h6>
                                <span class="text-muted fw-normal">Quotation No</span>
                              </h6>
                            </td>
                            <td>
                              <h6>
                                <span id="legal-register-no"
                                  >&nbsp;: &nbsp; #<span id="invoice-no">{{
                                    quotationObject.quotNo
                                  }}</span></span
                                >
                              </h6>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-1 p-2">
                <label class="form-label text-muted text-uppercase fw-semibold">
                  Thank you for your inquiry. We are pleased to submit our quote as
                  follows:
                </label>
              </div>
              <!--end card-header-->
            </div>
          
          <!--end col-->
          <div class="col-12 mb-1 mt-2 p-4">
            
              <div class="row g-3">
                <div class="col-12 col-12 mb-1">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">
                    Atten To
                  </p>
                  <h5 class="fs-14 mb-0">
                    {{ quotationObject.attentionTo }}
                  </h5>
                </div>
                <div class="col-12 col-12 mb-1">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">Title</p>
                  <h5 class="fs-14 mb-0">
                    {{ quotationObject.quotTitle }}
                  </h5>
                </div>
                <!-- <div class="col-lg-12 col-12 mb-1">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">Remark</p>
                  <h5 class="fs-14 mb-0">{{ quotationObject.remark }}</h5>
                </div> -->
                <!--end col-->

              </div>
              <!--end row-->
              <div class="row g-3 d-flex">

                <div class="col-3">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">Date</p>
                  <h5 class="fs-14 mb-0">
                    {{ quotationObject.createdDate | date : "dd-MM-YYY" }}
                  </h5>
                </div>
                <!--end col-->
                <div class="col-3">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">Status</p>
                  <span
                    class="fs-11"
                    [class]="
                      returnStatusBadgeClassesStatus(quotationObject.quotStatusId)
                    "
                    >{{ quotationObject.quotStatusName }}</span
                  >
                </div>
                <!--end col-->
  
                <div class="col-3">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">
                    Created By
                  </p>
                  <h5 class="fs-14 mb-0">{{ quotationObject.createdBy }}</h5>
                </div>
                <div class="col-3">
                  <p class="text-muted mb-2 text-uppercase fw-semibold">
                    Total Amount <span class="fs-10">({{departmentDetail?.currencyCode}})</span>
                  </p>
                  <h5 class="fs-14 mb-0">
                    <span id="total-amount">{{
                      quotationObject.totalPrice | number:'1.2-2'
                    }}</span>
                  </h5>
                </div>
  
                <!--end col-->
              </div>
              <!--end row-->
           
            <!--end card-body-->
          </div>
          <!--end col-->
          <div class="col-lg-12">
            <div class="card-body p-4">
              <div class="table-responsive" *ngIf="mX_quotationItem.length != 0">
                <table
                  class="table table-bordered text-center table-nowrap align-middle mb-0 a2"
                >
                  <thead>
                    <tr class="table-active">
                      <th scope="col" style="width: 10%">#</th>
                      <th scope="col" class="text-start" style="width: 50%;">Item Details</th>
                      <th scope="col" style="width: 10%">UOM</th>
                      <th scope="col" style="width: 10%">Unit Price</th>
                      <th scope="col" style="width: 10%">Quantity</th>
                      <th scope="col" style="width: 10%">Amount <span class="fs-10">({{departmentDetail?.currencyCode}})</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="fs-12"
                      *ngFor="let item of mX_quotationItem; let i = index"
                      [attr.data-index]="i"
                    >
                      <th scope="row" class="align-top">{{ i + 1 }}</th>
                      <td class="text-start title">
                        <span class="fw-medium">{{ item.itemName }}</span>
                        <p class="text-muted mb-0 text-desc">{{ item.itemDetail }}</p>
                      </td>
                      <td class="align-top text-center">{{ item.uom }}</td>
                      <td class="align-top text-end">{{ item.unitPrice | number:'1.2-2' }}</td>
                      <td class="align-top text-end">{{ item.qty | number:'1.2-2' }}</td>
                      <td class="text-end align-top">{{ item.unitTotalPrice | number:'1.2-2' }}</td>
                    </tr>
                  </tbody>
                </table>
                <!--end table-->
              </div>
              <div class="border-top border-top-dashed mt-2 d-flex justify-content-end">
                <table
                  class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
                  style="width: 250px"
                >
                  <tbody>
                      <tr>
                      <td>Sub Total</td>
                      <td class="text-end">{{quotationObject.subTotal | number:'1.2-2'}}</td>
                    </tr>
                      <tr>
                      <td>Discount ({{quotationObject.discountRate | number:'1.2-2'}}) %</td>
                      <td class="text-end">{{quotationObject.discountPrice | number:'1.2-2'}}</td>
                    </tr>
                     <tr>
                      <td>{{quotationObject.serviceTaxType}}</td>
                      <td class="text-end">{{ quotationObject.gstPrice | number:'1.2-2'}}</td>
                    </tr>
                    <tr class="border-top border-top-dashed fs-15">
                      <th scope="row">Total Amount <span class="fs-10">({{departmentDetail?.currencyCode}})</span></th>
                      <th class="text-end">{{ quotationObject.totalPrice | number:'1.2-2'}}</th>
                    </tr>
                    <!-- <tr>
                                                      <td>Discount <small class="text-muted">(sms15)</small></td>
                                                      <td class="text-end">- 53.99</td>
                                                  </tr> -->
                    <!-- <tr>
                      <td>Shipping Charge</td>
                      <td class="text-end"> {{ quotationObject.gstPrice }}</td>
                    </tr> -->
                    <!-- <tr class="border-top border-top-dashed fs-15">
                      <th scope="row">Total Amount</th>
                      <th class="text-end">{{ quotationObject.totalPrice }}</th>
                    </tr> -->
                  </tbody>
                </table>
                <!--end table-->
              </div>
              <div class="mt-4">
                <div class="remarksNote" style="background-color: black !important;
                color: white !important;
                padding: 0.8rem;
                margin-bottom: 1rem;">
                  <p class="mb-0">
                    <span class="fw-semibold">NOTES:</span>
                    <span id="note">{{ quotationObject.remark }} </span>
                  </p>
                </div>
              </div>
            </div>
            <!--end card-body-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  