.maxHeightCard {
    height: 703px;
    overflow-y: scroll;
}

.img-size-fixed-ack-client-signature {
    width: 80px !important;
    height: 80px !important;
}
.img-size-fixed-edit {
    width: 300px !important;
    height: 300px !important;
}