.text-small {
    font-size: 0.7rem;
    font-weight: 400;
}

.textcenter {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .textcenter {
        text-align: left !important;
    }
}