<div class="row">
  <div class="col-md-12">
    <div class="card mb-0">

  
    <div class="card-header" *ngIf="headerVisible">
      <h6 class="card-title mb-0">
        My Task
      </h6>
    </div>
      <div class="card-body">
        <div class="row g-3 cursor">
          <div class="col-auto">
            <div class="avatar-sm p-1 py-2 h-auto rounded-3 bg-danger-subtle">
              <div class="text-center">
                <h5 class="mb-0">
                  <i class="bx bx-bell text-danger mt-2"></i>
                </h5>
              </div>
            </div>
          </div>
          <div class="col align-items-center">
            <h5 class="text-muted mt-0 mb-1 fs-14">Verification Required</h5>
            <a href="javascript:void(0);" class="text-reset fs-13 mb-0"
              >The Agreement Under Verification process kindly check</a
            >
          </div>

          <div class="col-sm-auto">
            <div class="avatar-group">
              <div class="avatar-group-item">
                <a href="javascript: void(0);">
                  <div class="avatar-xs">
                    <span
                      class="avatar-title rounded-circle text-white bg-danger"
                    >
                      {{ 7 }}
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <hr class="my-3" />
        <div class="row g-3 cursor">
          <div class="col-auto">
            <div class="avatar-sm p-1 py-2 h-auto rounded-3 bg-danger-subtle">
              <div class="text-center">
                <h5 class="mb-0">
                  <i class="bx bx-bell text-danger mt-2"></i>
                </h5>
              </div>
            </div>
          </div>
          <div class="col align-items-center">
            <h5 class="text-muted mt-0 mb-1 fs-14">Acknowledgement Required</h5>

            <a href="javascript:void(0);" class="text-reset fs-13 mb-0">
              Kindly  Acknowledge the Agreement Under this process 
            </a>
          </div>
          <div class="col-sm-auto">
            <div class="avatar-group">
              <div class="avatar-group-item">
                <a href="javascript: void(0);">
                  <div class="avatar-xs">
                    <span
                      class="avatar-title rounded-circle text-white bg-danger"
                    >
                      {{ 5 }}
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3" />
        <div class="row g-3 cursor">
          <div class="col-auto">
            <div class="avatar-sm p-1 py-2 h-auto rounded-3 bg-danger-subtle">
              <div class="text-center">
                <h5 class="mb-0">
                  <i class="bx bx-bell text-danger mt-2"></i>
                </h5>
              </div>
            </div>
          </div>
          <div class="col align-items-center">
            <h5 class="text-muted mt-0 mb-1 fs-14">
              Awaiting Agreement Document
            </h5>

            <a href="javascript:void(0);" class="text-reset fs-13 mb-0">
              The maintenance agreement created but document not submitted
            </a>
          </div>
          <div class="col-sm-auto">
            <div class="avatar-group">
              <div class="avatar-group-item">
                <a href="javascript: void(0);">
                  <div class="avatar-xs">
                    <span
                      class="avatar-title rounded-circle text-white bg-danger"
                    >
                      {{ 5 }}
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-3" />
        <div class="row g-3 cursor">
          <div class="col-auto">
            <div class="avatar-sm p-1 py-2 h-auto rounded-3 bg-danger-subtle">
              <div class="text-center">
                <h5 class="mb-0">
                  <i class="bx bx-bell text-danger mt-2"></i>
                </h5>
              </div>
            </div>
          </div>
          <div class="col align-items-center">
            <h5 class="text-muted mt-0 mb-1 fs-14">
              Awating Review Document
            </h5>

            <a href="javascript:void(0);" class="text-reset fs-13 mb-0">
              The maintenance agreement awating review document
            </a>
          </div>
          <div class="col-sm-auto">
            <div class="avatar-group">
              <div class="avatar-group-item">
                <a href="javascript: void(0);">
                  <div class="avatar-xs">
                    <span
                      class="avatar-title rounded-circle text-white bg-danger"
                    >
                      {{ 5 }}
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div><hr class="my-3" />
        <div class="row g-3 cursor">
          <div class="col-auto">
            <div class="avatar-sm p-1 py-2 h-auto rounded-3 bg-danger-subtle">
              <div class="text-center">
                <h5 class="mb-0">
                  <i class="bx bx-bell text-danger mt-2"></i>
                </h5>
              </div>
            </div>
          </div>
          <div class="col align-items-center">
            <h5 class="text-muted mt-0 mb-1 fs-14">
              Awating Approval Document
            </h5>

            <a href="javascript:void(0);" class="text-reset fs-13 mb-0">
              The maintenance agreement awating approval document
            </a>
          </div>
          <div class="col-sm-auto">
            <div class="avatar-group">
              <div class="avatar-group-item">
                <a href="javascript: void(0);">
                  <div class="avatar-xs">
                    <span
                      class="avatar-title rounded-circle text-white bg-danger"
                    >
                      {{ 5 }}
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
