@media only screen and (max-width: 600px) {
    .w-50 {
        width: 100% !important;
    }
}

.activeCardClasss{
    background-color:rgb(94 163 203);
    color: #fff!important;
    h2{
        color: #fff!important;
    }
}