<app-breadcrumbs
  [title]="label"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center gy-3">
          <div class="col-lg-auto mb-2">
            <h5 class="card-title mb-0">Schedule List</h5>
          </div>
          <div class="col-lg"></div>
          <div class="col-lg mb-2">
            <ng-select
              [items]="frequencyList"
              (change)="onChangeFrequencyValueChange()"
              [clearable]="true"
              [(ngModel)]="typeFrequencyValue"
              placeholder="Select Frequency"
              class="w-100 me-2"
            ></ng-select>
          </div>
          <div class="col-lg mb-2">
            <div class="search-box">
              <input
                type="search"
                name="searchTerm"
                class="form-control"
                [(ngModel)]="typeConfigPreventivePDescription"
                placeholder="Schedule Title"
                #inputerRequesterName
              />
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <div class="col-lg-auto mb-2 text-end">
            <div>
              <a
                (click)="onClickView()"
                id="list-view-button"
                class="btn btn-soft-info nav-link btn-icon fs-14 me-2"
                [class.active]="listView"
              >
                <i class="ri-list-unordered"></i>
              </a>

              <a
                (click)="onClickView()"
                class="btn btn-soft-info nav-link btn-icon fs-14 active"
                id="grid-view-button"
                [class.active]="gridView"
              >
                <i class="ri-grid-fill"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body border border-dashed border-end-0 border-start-0 p-0 pt-2 pb-3">
          <div class="row align-items-center gy-3">
            <div class="col-lg">
              <ng-select
                [items]="arrayListDropDownCompany"
                bindLabel="companyName"
                bindValue="companyId"
                (change)="onDropdownCompanyValueChange($event)"
                [clearable]="true"
                id="companyName"
                [(ngModel)]="selectedDropDownCompanyIdValue"
                placeholder="Select Company"
                class=""
                for="companyName"
                [readonly]="disabledWithAceessGroup"
              ></ng-select>
            </div>
            <div class="col-lg">
              <ng-select
                [items]="arrayListDropDownClientList"
                bindLabel="clientName"
                bindValue="clientId"
                [disabled]="!selectedDropDownCompanyIdValue"
                (change)="onDropdownClientValueChange($event)"
                [clearable]="true"
                id="clientName"
                [(ngModel)]="selectedDropDownClientIdValue"
                placeholder="Select Client"
                class=""
                for="clientName"
                [readonly]="disabledWithAceessGroup"
              ></ng-select>
            </div>
            <div class="col-lg">
              <ng-select
                [readonly]="projectDepartmentFieldDisiabled"
                [items]="arrayListDropDownProjectOrDeparmentList"
                bindLabel="departmentName"
                bindValue="departmentId"
                [disabled]="
                  !selectedDropDownCompanyIdValue ||
                  !selectedDropDownClientIdValue
                "
                (change)="onDropdownDepartmentValueChange($event)"
                [clearable]="true"
                [(ngModel)]="selectedDropDownProjectOrDeparmentIdValue"
                placeholder="Select Project"
                class=""
              ></ng-select>
            </div>
            <div class="col-lg">
              <ng-select
                [items]="arrayListDropDownScheduleStatus"
                bindLabel="assetStatus"
                bindValue="assetStatusId"
                (change)="onDropdownScheduleStatusValueChange($event)"
                [clearable]="currentUserRole != 'Client User'"
                id="ticketStatus"
                [(ngModel)]="selectedDropDownScheduleStatusIdValue"
                placeholder="Select Schedule Status"
                class="mr-2"
                for="ticketStatus"
              ></ng-select>
            </div>
            <div class="col-lg-auto text-end  mt-4">
              <button
                type="button"
                class="btn btn-danger ms-1 mb-2"
                (click)="resetSerachVariable()"
                ngbTooltip="Remove All Search"
              >
                <i class="ri-refresh-fill me-1 align-bottom"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
        <div class="card-body pt-0" >
        
          
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-xl-12" *ngIf="shownCalendor">
                          <div class="card card-h-100">
                            <div class="card-body">
                              <div id="calendar"></div>
                              <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="clear:both"></div>
                    </div>
                  </div>
                  
              
            <!-- Tab panes -->
            
          </div>
        </div>
      
      </div>
    </div>
  </div>


