<div class="modal-content">
  <div class="modal-header p-3 bg-info-subtle">
    <h5 class="modal-title" id="inviteMembersModalLabel">Attachment</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="btn-close"
      (click)="close('Close click', $event)"
    ></button>
  </div>
  <div class="modal-body" style="height: 400px; overflow-y: auto;">
    <form [formGroup]="ProcessModalForm">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="formFile" class="form-label"
              >Title
              <span class="starRequried">*</span>
            </label>
            <input
              class="form-control"
              bindValue="companyId"
              formControlName="frmtitle"
              type="text"
              placeholder="Title"
            />
          </div>
      
          <div class="col-md-12 mb-2">
            <label for="formFile" class="form-label"
              >Type of File
              <span class="starRequried">*</span>
            </label>
            <ng-select
              [items]="typeArray"
              (change)="resetFileValue()"
              [clearable]="true"
              id="clientName"
              formControlName="frmtype"
              placeholder="Select File Type"
              class="w-100 mr-2"
            ></ng-select>
          </div>

          <div class="col-lg-12 mb-2">
            <div
              class="container-fluid container-view"
              *ngIf="frmtype.value == 'Document' || frmtype.value == 'Video'"
            >
              <!-- accept="video/*" -->

              <ngx-dropzone
                (change)="onSelect($event)"
                [accept]="
                  frmtype.value == 'Document'
                    ? '.pdf, .doc, .docx, .txt ,.dwg , .ppt , .pptx , .xls , .xlsx , .ods , .csv ,.odt , .rtf ,.odp '
                    : 'video/*'
                "
                [multiple]="false"
                title="All file will be Uploaded"
                data-toggle="tooltip"
                data-placement="top"
                class="dropzone"
              >
                <ngx-dropzone-label>Drag and drop/Click here to upload </ngx-dropzone-label> 
                <!-- <ngx-dropzone-preview
                    *ngFor="let f of files"
                    [removable]="true"
                    (removed)="onRemove(f)"
                  >
                    <ngx-dropzone-label
                      >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
                    >
                  </ngx-dropzone-preview> -->
              </ngx-dropzone>
              <div class="row me-0 mr-0" *ngIf="files.length != 0">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table" style="text-align: justify">
                      <thead>
                        <tr>
                          <th colspan="2">File Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let f of files">
                          <td>
                            <i
                              class="ri-close-circle-line text-danger"
                              type="button"
                              (click)="onRemove(f)"
                            ></i>
                          </td>
                          <td style="white-space: nowrap" [title]="f.name">
                            {{ f.name }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="text-danger fs-12" *ngIf="errorMessage">{{errorMessage}}</div>
            </div>

            <div
              class="container-fluid container-view"
              *ngIf="frmtype.value == 'Image'"
            >
              <div class="mt-3">
                <ngx-dropzone
                  [multiple]="false"
                  (change)="onSelectFile($event)"
                  accept="image/*"
                  title="Only Image file will be Uploaded"
                  data-toggle="tooltip"
                  data-placement="top"
                  [url]="false"
                  class="dropzone"
                  *ngIf="file.length == 0"
                >
                  <ngx-dropzone-label class="dropzoneLabel">
                    Drag and drop/Click here to upload 
                  </ngx-dropzone-label>
                </ngx-dropzone>
                <div class="preview-section">
                  <div
                    class="image-container"
                    *ngFor="let image of file; let i = index"
                  >
                    <div
                      class="image-wrapper"
                      [ngClass]="{
                        'new-row': i % 3 === 0 && i !== 0
                      }"
                    >
                      <img
                        #imgRenderer
                        [src]="base64Strings[i]"
                        class="img-size-withd-upload"
                      />
                      <i
                        class="ri-close-circle-line ri-close-circle-line2"
                        type="button"
                        (click)="onRemoveImage(image); $event.stopPropagation()"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <label class="form-label" for="des-info-description-input"
              >Remark
              <span class="starRequried">*</span>
            </label>
            <ckeditor
              [editor]="Editor"
              [config]="{
                toolbar: [
                  'heading',
                  '|',
                  'bold',
                  'italic',
                  '|',
                  'NumberedList',
                  'BulletedList'
                ]
              }"
              placeholder="Enter Remark"
              formControlName="frmdescription"
            >
            </ckeditor>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger mr-2 mb-2 mb-md-0"
      (click)="close('cancel', $event)"
    >
      Cancel
    </button>
    <button
      type="button"
      ngbAutofocus
      [disabled]="checkButtonDisable()"
      class="btn btn-success mr-2 mb-2 mb-md-0"
      (click)="submitprocessFromDetails()"
    >
      Submit
    </button>
  </div>
</div>
